/**
 * Styling Joomla micro button
 */

.k-table .btn-micro {
  @include button-default('.active', '.disabled');
  @include button-variant($k-btn-default-color, $k-btn-default-background, $k-btn-default-border);


  /* Smaller size */

  border-radius: $k-border-radius-small;
  font-size: $k-font-size-tiny;
  line-height: $k-line-height-tiny;
  padding: $k-spacing-tiny-vertical $k-spacing-tiny-horizontal;


  /* Disabled style */

  &.disabled {
    opacity: 1;

    [class*="icon"]:after {
      opacity: 1;
      color: $k-color-type-light;
    }
  }


  /* Styling icons */

  .icon-publish.icon-publish {
    @include icon-after(check, true) {
      color: $k-color-accent;
    }
  }

  .icon-unpublish {
    @include icon-after(x, true);
  }

  .icon-featured.icon-featured {
    @include icon-after(star, true) {
      color: $k-color-accent;
    }
  }

  .icon-unfeatured {
    @include icon-after(star, true) {
      color: $k-color-type-light;
    }
  }

  .icon-checkedout {
    @include icon-after(lock-locked, true);
  }

  .icon-trash {
    @include icon-after(trash, true);
  }
}
