.minicolors {
  display: block;

  input {
    padding-left: 30px !important;
  }
  .minicolors-swatch {
    margin: 2px;
  }
}

.k-color {
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
  vertical-align: middle;
  background: linear-gradient(red, orange, yellow, green, blue);
  border: 1px solid white;
  outline: 1px solid #ccc;
}