// Color pickers
.minicolors {
  width: 100%;

  .k-form-control {
    padding-left: 32px;
  }
}

.minicolors-swatch {
  width: 25px;
  height: 25px;
}

.minicolors-theme-bootstrap .minicolors-panel {
  left: 128px;
}

.minicolors-panel {
  width: 186px;
  height: 164px;
}
