/**
 * Category indentation styling
 *
 * Needs it's element to have a `margin-left` of [level] * 15. Starting with level 0
 */

.k-indent-level {
  @include psuedo(before,true) {
    left: -12px;
    top: 50%;
    margin-top: -6px;
    width: 6px;
    height: 6px;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
  }


  /* Never show a mark for level 0 items */

  &-0:before {
    display: none;
  }
}