/**
 * Images and previews
 *
 * Position image preview, select box and Gravity field nice to each other
 *
 * 1. Stretch to full width (minus image size)
 * 2. The image area width
 * 3. Set a bottom margin for input group to space it from the gravity field
 */

.media--image-preview {
  @include clearfix;

  .media-body {
    width: 99%; /* 1 */

    .input-group {
      margin-bottom: $k-spacing; /* 3 */
    }
  }

  .media-right {
    min-width: 160px; /* 2 */
    width: 160px; /* 2 */
  }
}


/**
 * Images area
 *
 * 16:9 ratio even if no image is present
 */

.image-preview {
  @include ratio-block;
}


/**
 * Image holder
 *
 * 1. Cover entire ratio parent
 * 2. Add double border to enclose images
 */

.image-holder {
  @include coverall; /* 1 */
  border: 1px solid #ddd; /* 2 */
  padding: 1px; /* 2 */
  background: white; /* 2 */

  /* Add a no image psuedo element when there's no image yet */
  @include psuedo(after,false) {
    top: 50%;
    left: 50%;
    content: "no image";
    font-style: italic;
    transform: translate(-50%, -50%);
  }

  /* Position the image in the center of the image holder */
  img {
    margin: 0!important;
    padding: 0!important;
    vertical-align: middle;
    border: none!important;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
  }
}