/* Menu */

.k-menu-container {
  background: $k-menu-background;
  color: $k-menu-color;

  // When flexbox is active
  @include flexbox {
    flex: 0 0 auto;
  }

  @include breakpoint($k-menu-breakpoint) {
    position: relative;
    z-index: 11;
    display: flex;
  }
}


/* Menu logo */

.k-menu-container__logo {
  height: 48px;

  a, img {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }

  a {
    padding: 12px;

    &:focus,
    &:hover {
      background: darker($k-menu-background);
    }
  }

  img {
    max-height: 24px;
  }
}


/* Menu nav */

.k-menu-container__nav {
  position: absolute;
  top: 48px;
  right: 0;
  bottom: 0;
  width: 276px;
  display: none;
  background: $k-menu-background;
  overflow: auto;
  box-shadow: inset 5px 5px 5px rgba(black, 0.1);


  /* On desktop */

  @include breakpoint($k-menu-breakpoint) {
    position: static;
    display: flex;
    justify-content: space-between;
    box-shadow: none;
    height: 48px;
    width: auto;
    overflow: visible;
    flex: 1 1 auto;
  }


  /* First level */

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: $k-menu-background;
    flex: 0 0 auto;
  }

  .k-menu-right {
    @include breakpoint($k-menu-breakpoint) {
      float: right;

      ul {
        left: auto;
        right: 1px;
      }
    }
  }

  li {
    position: relative;
    margin: 0;
    padding: 0;
    background: $k-menu-background;

    @include breakpoint($k-menu-breakpoint) {
      float: left;
    }

    &.divider {
      height: 2px;
      background: rgba(black, 0.1);
      margin: 2px 0;
    }

    &.disabled {
      opacity: 0.65;
      cursor: not-allowed;

      a {
        pointer-events: none;
      }

      .has-open-submenu {
        background: transparent;
      }
    }

    > a {
      line-height: 40px;
      position: relative;
      z-index: 0;
      display: block;
      padding: 0 16px;
      border-bottom: 1px solid rgba(white, 0.25);
      color: inherit;
      text-shadow: none;

      &.has-open-submenu {
        z-index: 1;
        background: darker($k-menu-background);
        text-decoration: none;
      }

      &:focus,
      &:hover {
        text-decoration: none;
      }

      @include breakpoint($k-menu-breakpoint) {
        height: 48px;
        border-bottom: none;
        line-height: 48px;
        padding: 0 8px;
      }

      @include breakpoint($k-delta) {
        padding: 0 12px;
      }
    }


    /* Second level */

    ul {
      display: none;
      border-bottom: 1px solid rgba(white, 0.25);
      padding: 4px 0;
      background: lighter($k-menu-background);

      @include breakpoint($k-menu-breakpoint) {
        background: white;
        box-shadow: 2px 4px 6px rgba(black, 0.2), 0 0 0 1px rgba(black, .33);
        position: absolute;
        z-index: 0;
        top: 100%;
        left: 1px;
        width: 180px;
        border-bottom: none;
        padding: 2px;
      }

      li {
        float: none;
        background: transparent;
      }

      a {
        height: 32px;
        line-height: 32px;
        border-bottom: none;

        &:focus,
        &:hover {
          background: rgba(black, 0.1);
        }

        @include breakpoint($k-menu-breakpoint) {
          color: $k-menu-background;
        }
      }
    }

    .has-open-submenu + ul {
      display: block;
    }
  }
}


/* Mobile settings */

&.k-is-opened-right {
  overflow: visible;

  .k-menu-container__nav {
    display: block;
  }
}

.k-wrapper {
  transition: transform 200ms ease-in-out;
}

&.k-show-right-menu {
  .k-wrapper {
    transform: translateX(-276px);

    @include breakpoint($k-menu-breakpoint) {
      transform: translateX(0);
    }
  }
}


/* Toggler */

.navigation-toggle {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  border: 1px solid white;
  background: transparent;
  border-radius: $k-border-radius;
  padding: 5px 10px;
  margin: 8px;

  @include breakpoint($k-menu-breakpoint) {
    display: none;
  }
}
