/**
 * Small styling issue fixes coming from Joomla menu
 */

.k-menu-container {
  .caret {
    display: none;
  }

  .dropdown-menu {
    border-radius: 0;
    border: none;

    @include breakpoint(0, range, $k-charlie) {
      position: static;
      float: none;
    }
  }

  .k-menu-container__nav li ul a {
    padding-top: 0;
    padding-bottom: 0;

    @include breakpoint(0, range, $k-charlie) {
      color: inherit;
    }
  }
}
