/**
 * Info label
 *
 * Put some spacing around the info field
 * Can be found on template overview for example
 */

.info-labels {
  margin: 10px 0;
}


/* Some more spacing for fieldsets */

fieldset {
  margin-bottom: 20px;


  /* Except for last child */

  &:last-child {
    margin-bottom: 0;
  }
}



/* Labels */

.label {
  a {
    color: inherit;
  }
}



/* Heading */

.k-container {
  h3 {
    margin-top: 0;
  }
}