/**
 * Extra styling for navigation
 */

.k-navigation-container {

  // When flexbox is active
  @include flexbox {
    flex: 0 0 auto;
  }

  // The cog icon
  .k-icon-cog {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    color: white;
  }
}