/* Block level select2 inside form groups */
.form-group {
  .select2-container {
    width: 100% !important;
  }
}

.select2-container-multi .select2-choices .select2-search-field input {
  height: 26px;
}

.select2-container {
  display: block;
}

/* Remove underlines from select2 and chosen containers */

.select2-container,
.chzn-container {
  a:hover {
    text-decoration: none;
  }
}