/**
 * Tabs overrides for Joomla
 */

/**
 * Tabbable tabs
 *
 * Hide tabbable panes to start, show them when `.k-is-active`
 */

.k-tabs-content {
  > .active {
    display: block;
  }
}


/**
 * Tabs wrapper
 *
 * 1. For proper offset calculation in JS
 */

.k-tabs {
  > li.active > a {
    &,
    &:hover,
    &:focus {
      color: inherit;
      background-color: $k-tabs-link-active-hover-background;
      border: 1px solid $k-tabs-link-active-hover-border;
      border-bottom-color: transparent;
      cursor: default;
    }
  }
}

.nav-tabs > li {
  float: none;
  display: inline-block;
}

.nav > li > a {
  color: inherit;
  padding: 7px 13px;
  line-height: 20px;
}


/**
 * Tabs scroller
 */

.k-tabs-scroller {
  > .k-tabs > li.active > a {
    background: $k-component-background;
    color: $k-type-color;
  }
}




.tabs-left {
  display: flex;

  .nav-tabs,
  .tab-content {
    display: block;
  }

  .nav-tabs.nav-tabs {
    border: none;
    margin-right: 0;

    > li {
      display: block;
      margin-bottom: 0;
    }
  }

  .tab-content {
    overflow: auto;
  }
}


// Override :not(.k-is-active) display: none important
.k-tabs-content > .k-tab.active {
  display: block !important;
}