/**
 * Toolbar styling
 *
 * 1. Set padding on toolbar
 */

.k-toolbar {
  padding: 0 10px 10px; /* 1 */

  /**
   * Wrappers
   *
   * 1. No margin on Joomla toolbar to keep styling in line with Nooku toolbar
   */

  .btn-toolbar {
    margin: 0; /* 1 */
  }

  .btn-group,
  .btn-wrapper {
    margin: 0;
    float: left;

    &:first-child {
      .btn {
        margin-left: 0;
      }
    }
  }



  /**
   * Buttons
   *
   * 1. Space buttons nicely so they also look good on two lines
   * 2. No padding on mobile
   * 3. Re-set padding on larger screens
   * 4. Set to inline block when text is showing
   * 5. Style to be flat
   * 6. Not green for success button
   */

  .btn {
    margin: 10px 10px 0 0; /* 1 */
    padding: 0; /* 2 */

    @include breakpoint($k-charlie) {
      padding: 6px 8px; /* 3 */

      i {
        display: inline-block; /* 4 */
      }
    }

    /* 5 */
    &, &:hover, &:focus, &:active {
      text-shadow: none;
      box-shadow: none;
      border-color: palette(Blue Grey, 200);
    }

    /* 6 */
    &-success {
      &, &:hover, &:focus, &:active {
        background: palette(Blue Grey, 700);
        border-color: palette(Blue Grey, 800);
      }

      &:focus,
      &:hover {
        background: palette(Blue Grey, 800);
      }
    }
  }



  /**
   * Icon styling
   *
   * 1. Fill up complete button
   * 2. Align centered
   * 3. Reset on larger screens
   * 4. Some spacing between icon and text
   * 5. No special joomla red and green colors
   */

  .checkin,
  [class^="icon"] {
    display: block; /* 1 */
    width: 32px; /* 1 */
    height: 32px; /* 1 */
    line-height: 32px; /* 2 */
    text-align: center; /* 2 */
    color: inherit;

    @include breakpoint($k-charlie) {
      display: inline-block; /* 3 */
      width: auto; /* 3 */
      height: auto; /* 3 */
      line-height: 1em; /* 3 */
      margin: 0 .35em 0 0; /* 4 */
      color: inherit;
    }
  }



  /**
   * Off canvas toggle button
   */

  .off-canvas-menu-toggle {
    margin: 10px 10px 0 0;
    float: left;

    & ~ .btn-toolbar {
      float: left;
    }
  }
}