/**
 * Default legend style
 */

legend {
  display: block;
  margin-top: 0;
  margin-bottom: $spacing;
  border-bottom: 1px solid darker($form-background);
  padding-top: $spacing;
  padding-bottom: .2em;
  font-size: $font-size * 1.65;
  font-weight: normal;

  /* No margin top for the first legend */
  &:first-child {
    margin-top: 0;
  }
}