/* ==========================================================================
     CSS only animated boolean list
     ========================================================================== */

/** Default booleanlist
    =========================================================================

<div class="booleanlist">
  <input type="radio" name="name" id="id1" value="1" checked="checked">
  <label for="id1">True</label>
  <input type="radio" name="name" id="id0" value="0">
  <label for="id0">False</label>
</div>
*/

/** Neutral booleanlist
    =========================================================================

<div class="booleanlist booleanlist--neutral">
  <input type="radio" name="name" id="id1" value="1" checked="checked">
  <label for="id1">Option 1</label>
  <input type="radio" name="name" id="id0" value="0">
  <label for="id0">Option 2</label>
</div>
*/

/**
 * Check if :checked is supported using modernizr
 */

@include modernizr('.k-checked') {
  .booleanlist {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    border: 1px solid $input-border;
    padding: 1px;
    width: 100%;
    height: $input-height-base;
    max-width: 400px;
    border-radius: $input-border-radius;
    background: white;


    /* Hiding the input but keeping accessible */

    input[type="radio"] {
      @extend .visually-hidden;
    }


    /**
     * Label styling
     *
     * 1. Float left so the two labels line up next to each other
     * 2. Display block so we have styling control
     * 3. Set height to input height minus border and spacing
     * 4. Take up half of the parent
     * 5. Take one pixel off the radius to look smooth
     * 6. Don't let the user select
     */

    label {
      float: left; /* 1 */
      display: block; /* 2 */
      margin: 0;
      padding: 0;
      height: $input-height-base - 4px; /* 3 */
      line-height: $input-height-base - 4px; /* 3 */
      width: 50%; /* 4 */
      text-align: center;
      color: $input-color;
      font-weight: normal;
      border-radius: $input-border-radius - 1px; /* 5 */
      user-select: none; /* 6 */
      transition: $transition;


      /**
       * Colored backgrounds
       *
       * 1. Position absolute to place behind the label
       * 2. Set background behind the text on the label but on top of the parent
       * 3. Respect the 1px padding set on the parent
       * 4. Set to black and set content to display psuedo element
       * 5. Hide by default, using opacity for performance reasons
       * 6. Take one pixel off the radius to look smooth
       */

      &:before {
        position: absolute; /* 1 */
        z-index: -1; /* 2 */
        top: 1px; /* 3 */
        bottom: 1px; /* 3 */
        display: block; /* 4 */
        content: " "; /* 4 */
        opacity: 0; /* 5 */
        border-radius: $input-border-radius - 1px; /* 6 */
        transition: $transition;
      }


      /**
       * Faking :focus on parent
       *
       * 1. Position absolute to parent
       * 2. Set below label itself but above parent
       * 3. Set 1px back because of padding on parent element
       * 4. Hide by default, using opacity for performance reasons
       * 5. Set to black and set content to display psuedo element
       * 6. Same border-radius as parent
       * 7. Same "focus" styling as input elements
       */

      &:after {
        position: absolute; /* 1 */
        z-index: -1; /* 2 */
        top: -1px; /* 3 */
        right: -1px; /* 3 */
        bottom: -1px; /* 3 */
        left: -1px; /* 3 */
        opacity: 0; /* 4 */
        display: block; /* 5 */
        content: " "; /* 5 */
        border-radius: $input-border-radius; /* 6 */
        border: 1px solid $input-border-focus; /* 7 */
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($input-border-focus, 0.6); /* 7 */
      }


      /* A little darker background on hovering */

      &:hover {
        background: rgba(0,0,0,.15);
      }

    }


    /**
     * Styling label on hover, focus and checked
     *
     * 1. White text on colored labels
     * 2. Display colored background when item is :checked
     * 3. Show fake :focus when any item has :active or :focus
     */

    input {
      &:checked + label {
        color: white; /* 1 */

        &:before {
          opacity: 1; /* 2 */
        }
      }

      &:active + label,
      &:focus + label {
        &:after {
          opacity: 1; /* 3 */
        }
      }
    }


    /**
     * Positioning the colored backgrounds
     *
     * We're not using transform here since an 'overflow:hidden' on the parent would
     * make our fake :focus disappear
     *
     * 1. Set correct color to item
     * 2. Start with 0% (not 0) to have smooth transitions
     * 3. Set position to half so the background takes only up half the space of the parent
     */

    input:first-of-type + label {
      &:before {
        right: 0%; /* 2 */
        left: 50%; /* 3 */
      }
    }

    input:last-of-type + label {
      &:before {
        right: 50%; /* 3 */
        left: 0%;  /* 2 */
      }
    }

    input[value="1"] + label {
      &:before {
        background: $radio-toggle-1; /* 1 */
      }
    }

    input[value="0"] + label {
      &:before {
        background: $radio-toggle-0; /* 1 */
      }
    }

    &--neutral {
      input[value] + label {
        &:before {
          background: $radio-toggle-neutral; /* 1 */
        }
      }
    }


    /**
     * Positioning the colored backgrounds when :checked
     *
     * 1. 1px to account for padding in parent element
     * 2. Set position to half so the background takes only up half the space of the parent
     */

    input:checked:first-of-type + label {
      &:before {
        left: 1px; /* 1 */
        right: 50%; /* 2 */
      }
    }

    input:checked:last-of-type + label {
      &:before {
        right: 1px; /* 1 */
        left: 50%; /* 2 */
      }
    }
  }
}