/* ==========================================================================
   Breadcrumbs
   ========================================================================== */

/**
<!-- Breadcrumbs -->
<div class="k-breadcrumb">
  <ul>
      <!-- Home icon item -->
      <li class="home">
          <a class="k-breadcrumb__item k-icon-home" href="#">
              <span class="visually-hidden">Home</span>
          </a>
      </li>
      <!-- All but last items -->
      <li>
          <a class="k-breadcrumb__item" href="#">
              Some menu item
          </a>
      </li>
      <!-- last / active item -->
      <li class="active">
          <span class="k-breadcrumb__item">Active menu item</span>
      </li>
  </ul>
</div><!-- .k-breadcrumb -->
*/


/* Parent element
   ========================================================================== */

/**
 * 1. Scroll when items don't fit parent anymore
 */

.k-breadcrumb {
  @include border(bottom, $breadcrumb-border);
  overflow: auto; /* 1 */

  background: $breadcrumb-background;
  color: $breadcrumb-color;
}


/* When flexbox is in use
   ========================================================================== */

@include flexbox {
  .k-breadcrumb {
    flex: 0 0 auto;
  }
}


/* Breadcrumb contents
   ========================================================================== */

.k-breadcrumb {

  /**
   * Links
   *
   * 1. Full background hover
   */

  a {
    color: $breadcrumb-color;

    &:focus,
    &:hover {
      background: $breadcrumb-background-hover; /* 1 */
    }
  }


  /**
   * List
   *
   * 1. Reset unordered list styling
   */

  ul {
    @include reset; /* 1 */


    /* Flexing items to get overflow ellipsis */

    @include flexbox {
      display: flex;
    }

  }


  /**
   * Styling list items
   *
   * 1. Set z-index to 0 so the :after psuedo element will be on top
   * 2. Make room for the psuedo element separator
   * 3. Make each item at least one breadcrumb size wide
   * 4. Hide by default so we can show only a few on mobile
   * 5. Hide overflowing content
   * 6. Proper spacing for non-flexbox use
   */

  li {
    position: relative; /* 1 */
    z-index: 0; /* 1 */
    padding-left: $breadcrumb-divider-size; /* 2 */
    min-width: $breadcrumb-size; /* 3 */
    display: none; /* 4 */
    overflow: hidden; /* 5 */
    vertical-align: middle; /* 6 */


    /* Display on larger screens */

    @include breakpoint($breadcrumb-query) {
      display: inline-block;
    }


    /* Flexing items to get overflow ellipsis */

    @include flexbox($horizontal:$breadcrumb-query) {
      display: block;
      flex: 0 1 auto;
    }


    /* List item separator */

    @include psuedo(before, $content: false) {
      top: 0;
      bottom: 0;
      left: 0;
      width: $breadcrumb-divider-size;
      padding-top: $breadcrumb-size / 4;
      padding-bottom: $breadcrumb-size / 4;

      text-align: center;
      line-height: $breadcrumb-size / 2;
      content: $breadcrumb-divider-content;
    }


    /* No separator on first item */

    &:first-child {
      padding-left: 0;

      &:before {
        display: none;
      }
    }


    /**
     * Hover
     *
     * 1. Reset flexbox so the whole item is visible
     */

    &:hover {
      overflow: visible;

      @include flexbox {
        flex: 0 0 auto; /* 1 */
      }
    }
  }


  /**
   * first and last elements
   *
   * 1. Always display these items
   * 2. No flexing for these items so the are readable
   */

  .home,
  .active {
    display: inline-block; /* 1 */
    overflow: visible; /* 1 */

    @include flexbox($horizontal:$breadcrumb-query) {
      flex: 0 0 auto; /* 2 */
    }
  }


  /**
   * One but last item
   *
   * Show this item on mobile to get a sense of where you are
   *
   * 1. Set 'missing' content
   * 2. Reset to default content on wider screens
   */

  li:nth-last-child(2) {
    display: inline-block;

    &:before {
      content: $breadcrumb-missing-content; /* 1 */

      @include breakpoint($breadcrumb-query) {
        content: $breadcrumb-divider-content; /* 2 */
      }
    }
  }


  /* Active item */

  .active {
    .k-breadcrumb__item {
      font-weight: $bold;
    }
  }

}


/* Single breadcrumb items */

.k-breadcrumb__item {
  position: relative;
  z-index: 2;
  display: block;
  padding: round($breadcrumb-size / 4);
  min-width: $breadcrumb-size;
  min-height: $breadcrumb-size;
  overflow: hidden;

  text-align: center;
  line-height: $breadcrumb-size / 2;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}
