/* ==========================================================================
   The content div
   ========================================================================== */

/**
 * 1. Set the z-index higher than the menus
 * 2. Setting a background so container will fall nicely over the sidebar
 * 3. Set transition for off canvas sidebar
 */

.k-content {
  position: relative; /* 1 */
  z-index: 2; /* 1 */
  background: $overview-background; /* 2 */
  transition: transform $transition; /* 3 */


  /* Faking flexbox on older browsers by using table styling */

  @include breakpoint($desktop) {
    display: table-cell;
    width: 100%;
  }
}


/**
 * When flexbox is in use
 *
 * 1. Reset width needed for table
 */

@include flexbox {
  .k-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: auto; /* 1 */
  }
}


/**
 * Container when toggled
 *
 * 1. Set left to the width of the menu so the menu will appear
 * 2. Set right to the negative width of the menu so the menu will appear
 * 3. Reset when screen is wide enough
 */

.show-left-menu {
  .k-content,
  .k-titlebar {
    transform: translate($sidebar-width, 0); /* 1 */

    @include breakpoint($desktop) {
      transform: translate(0, 0); /* 3 */
    }
  }
}

.show-right-menu {
  .k-content,
  .k-titlebar {
    transform: translate(-($sidebar-width), 0); /* 2 */

    @include breakpoint($desktop) {
      transform: translate(0, 0); /* 3 */
    }
  }
}

.opened--left,
.opened--right {
  .k-content {
    overflow: hidden;

    @include breakpoint($desktop) {
      overflow: auto; /* 3 */
    }
  }
}


/**
 * The overlay
 *
 * 1. Cover the entire container
 * 2. Hide by setting z-index to -1 because item can't transition if display is set from none to block
 * 3. Set opacity to 0 by default
 * 4. Hide overlay when screen is wide enough
 */

.off-canvas-overlay {
  position: absolute; /* 1 */
  top: 0; /* 1 */
  right: 0; /* 1 */
  bottom: 0; /* 1 */
  left: 0; /* 1 */
  z-index: -1; /* 2 */
  display: block;
  opacity: 0; /* 3 */
  content: " ";
  background: $overlay-background;
  transition: opacity $transition;

  @include breakpoint($desktop) {
    display: none; /* 4 */
  }
}


/**
 * Overlay when toggled
 *
 * 1. Set opacity
 * 2. Set z-index to 1 so it will become visible
 */

.show-left-menu,
.show-right-menu {
  .off-canvas-overlay {
    opacity: $overlay-opacity; /* 1 */
  }
}

.opened--left,
.opened--right {
  .off-canvas-overlay {
    z-index: 2; /* 2 */
  }
}
