/* ==========================================================================
   Animated hamburger button
   ========================================================================== */

/**
 * 1. Hide when JS is disabled, we don't need a toggle when there's no JS
 * 2. Show when JS is enabled
 * 3. Hide when the sidebar is visible
 */

/**
<button id="k-toggle-button" class="off-canvas-menu-toggle" type="button">
    <span class="bar1"></span>
    <span class="bar2"></span>
    <span class="bar3"></span>
</button>
*/

.off-canvas-menu-toggle {
  position: relative;
  z-index: 3;
  float: left;
  display: none; /* 1 */
  width: $button-size;
  height: $button-size;
  padding: 0;
  border: none;
  border-radius: $button-radius;
  margin: 10px;
  background: $button-background;
  color: $button-color;

  @include js-enabled {
    display: block; /* 2 */

    @include breakpoint($desktop) {
      display: none; /* 3 */
    }
  }


  /**
   * Styling the hamburger bars
   */

  .bar1,
  .bar2,
  .bar3 {
    position: absolute;
    left: round(($button-size - $bar-width) / 2);
    display: block;
    width: $bar-width;
    height: $bar-height;
    border-radius: 1px;
    background: $button-color;
    vertical-align: middle;
    transition: all $transition;
  }

  .bar1 {
    top: round(($button-size - $bar-width) / 2);
  }

  .bar2 {
    top: round((($button-size - $bar-width) / 2) + ($bar-height * 2));
  }

  .bar3 {
    top: round((($button-size - $bar-width) / 2) + ($bar-height * 4));
  }
}


/**
 * Positioning the toggle button(s)
 */

#left-menu-toggle {
  left: 0;
}

#right-menu-toggle {
  right: 0;
}


/**
 * Transform hamburger into a cross when the sidebar is opened
 */

.show-left-menu,
.show-right-menu {
  .off-canvas-menu-toggle {
    .bar1 {
      top: round(($button-size / 2) - ($bar-height / 2));
      transform: rotate(135deg);
    }

    .bar2 {
      opacity: 0;
      transform: translate(-100%, 0);
    }

    .bar3 {
      top: round(($button-size / 2) - ($bar-height / 2));
      transform: rotate(-135deg);
    }
  }
}