/* ==========================================================================
   Interface icons
   ========================================================================== */

/* Toolbar icons
   ========================================================================== */

.icon-new {
  @include icon-before(plus, true);
}

.icon-download {
  @include icon-before(data-transfer-download, true);
}

.icon-options {
  @include icon-before(cog, true);
}

.icon-delete {
  @include icon-before(trash, true);
}

.icon-purge {
  @include icon-before(circle-x, true);
}

.icon-publish {
  @include icon-before(check, true);
  color: $color-success;
}

.icon-unpublish {
  @include icon-before(circle-x, true);
  color: $color-error;
}

.icon-apply {
  @include icon-before(pencil, true);
}

.icon-save {
  @include icon-before(check, true);
  color: $color-success;
}

.icon-cancel {
  @include icon-before(circle-x, true);
  color: $color-error;
}