/* ==========================================================================
   Sidebar list
   ========================================================================== */

/**
<!-- List -->
<ul class="k-list">
    <!-- Active item -->
    <li>
        <a href="#">
            <span class="k-icon-clock"></span> Clocks
        </a>
    </li>
    <!-- Other items -->
    <li>
        <a href="#">
            <span class="k-icon-clock"></span> Clocks
        </a>
    </li>
</ul>
*/


/**
 * 1. Reset default <ul> styling
 */

.k-list {
  @include reset($margin: false); /* 1 */
  margin: $list-spacing 0;


  /* Items */

  li {
    display: block;
    line-height: $line-height;
  }


  /**
   * Links
   *
   * 1. Make item fully clickable
   * 2. removing underlines
   */

  a {
    display: block; /* 1 */
    padding-top: $list-spacing;
    padding-bottom: $list-spacing;
    padding-right: round($list-spacing * 2);
    padding-left: round($list-spacing * 2);
    color: $list-color;
    text-decoration: none; /* 2 */


    /* Hover & focus state */

    &:hover,
    &:focus {
      background: $list-hover-background;
      color: $list-hover-color;
      text-decoration: none; /* 2 */
    }
  }


  /* Active link */

  .active {
    a {
      font-weight: bold;
      background: $list-active-background;
      color: $list-active-color;

      &:hover {
        background: transparent;
        cursor: default;
      }
    }
  }


  /* Icons */

  [class^="k-icon"] {
    display: inline-block;
    margin-right: .75em;
  }

}
