/* ==========================================================================
   Sidebar navigation
   ========================================================================== */

/**
<!-- Navigation -->
<ul class="k-navigation">
    <!-- Active item -->
    <li class="active">
        <a class="k-icon-activities" href="#">
            Activities
        </a>
    </li>
    <!-- Other items -->
    <li>
        <a class="k-icon-tasks" href="#">
            Tasks
        </a>
    </li>
</ul>
*/


/**
 * 1. Reset default <ul> styling
 */

.k-navigation {
  @include reset($padding: false, $background: false); /* 1 */
  @include border(bottom, $navigation-border);
  padding: $navigation-spacing 0;
  background: $navigation-background;


  /* Items */

  li {
    display: block;
    line-height: $line-height;
  }


  /**
   * Links
   *
   * 1. Make item fully clickable
   * 2. removing underlines
   */

  a {
    display: block; /* 1 */
    padding-top: $navigation-spacing;
    padding-bottom: $navigation-spacing;
    padding-right: round($navigation-spacing * 2);
    padding-left: round($navigation-spacing * 3);
    font-size: $font-size-large;
    color: $navigation-color;
    text-decoration: none; // 2


    /* Hover & focus state */

    &:hover,
    &:focus {
      background: $list-hover-background;
      color: $list-hover-color;
      text-decoration: none; /* 2 */
    }


    /**
     * Faux border
     *
     * Adding a border to the left, using "after" psuedo since "before" is used for the icon
     */

    @include psuedo(after) {
      left: 0;
      top: 0;
      width: 5px;
      height: 100%;
    }


    /* Hover & focus states */

    &:hover,
    &:focus {
      background: $navigation-hover-background;

      &:after {
        background: $navigation-hover-border;
      }
    }
  }


  /* Active link */

  .active {
    a {
      background: $navigation-active-background;
      color: $navigation-active-color;
      font-weight: bold;

      &:after {
        top: 12%;
        height: 76%;
        background: $navigation-active-border;
      }

      &:hover {
        background: transparent;
        cursor: default;
      }
    }
  }
}