/* ==========================================================================
     CSS only animated boolean list
     ========================================================================== */

/** Default booleanlist
    =========================================================================

<div class="option-list">
  <input type="radio" name="name" id="id0" value="0" checked="checked">
  <label for="id0">Option 1</label>
  <input type="radio" name="name" id="id1" value="1">
  <label for="id1">Option 2</label>
  <input type="radio" name="name" id="id2" value="2">
  <label for="id2">Option 3</label>
  <div class="faux-focus"></div>
</div>
*/

// @TODO : Might want to check similarities between booleanlist and optionlist and comebine some SCSS

/**
 * Check if :checked is supported using modernizr
 */

@include modernizr('.k-checked') {
  .option-list {
    position: relative;
    z-index: 1;
    display: table;
    width: 100%;
    height: $input-height-base;
    margin: 0;
    padding: 1px;
    border: 1px solid $input-border;
    border-radius: $input-border-radius;
    background: white;

    // Hiding the input but keeping accessible
    input[type=radio] {
      @extend .visually-hidden;
    }

    label {
      position: relative;
      z-index: 1;
      display: table-cell;
      border-radius: $input-border-radius - 1px;
      margin: 0;
      padding: 0;
      height: $input-height-base - 4px; /* 3 */
      line-height: $input-height-base - 4px; /* 3 */
      text-align: center;
      color: $input-color;
      font-weight: normal;
      transition: $transition;
      overflow: visible;
      cursor: pointer;
      user-select: none;

      &:hover {
        background: rgba(0, 0, 0, .15);
      }
    }

    input:checked + label {
      background: $color-neutral;
      color: $color-neutral-type;
    }

    .faux-focus {
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      outline: 0;
      display: block;
      z-index: -1;
      opacity: 0;
      border-radius: $input-border-radius; /* 6 */
      border: 1px solid $input-border-focus; /* 7 */
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($input-border-focus, 0.6); /* 7 */
    }

    input:focus ~ .faux-focus {
      opacity: 1;
    }
  }
}