/* ==========================================================================
   Scopebar
   ========================================================================== */

/**
<!-- Scopebar -->
<div class="k-scopebar">

    <!-- Filters -->
    <div class="k-scopebar__item--fluid">

        <!-- Filter title -->
        <div class="k-scopebar__item k-scopebar__item--title">Filter:</div>

        <!-- Filters -->
        <div class="k-scopebar__item--filters">
            <ul>
                <li><button class="k-filter-button" type="button" data-filter-toggle="users">Users</button></li>
                <li><button class="k-filter-button" type="button" data-filter-toggle="groups">User groups</button></li>
                <li><button class="k-filter-button" type="button" data-filter-toggle="date">Date</button></li>
            </ul>
        </div>

        <!-- Search toggle button -->
        <button type="button" class="toggle-search">
            <span class="k-icon-magnifying-glass"></span>
            <span class="visually-hidden">Search</span>
        </button>
    </div>

    <!-- Search -->
    <div class="k-scopebar__item k-scopebar__search">
        <div class="k-search__container">
            <input type="search" name="search" class="k-search__field" placeholder="Find by title or description…" value="">
            <button class="k-search__button-search" type="submit" data-original-title="Search">
                <span class="k-icon-magnifying-glass"></span>
            </button>
            <button class="k-search__button-empty" onclick="document.id('filter_search').value='';this.form.submit();" title="" type="button" data-original-title="Clear">
                <span>X</span>
            </button>
        </div>
    </div>

</div><!-- .k-scopebar -->
*/

.k-scopebar {
  background: $scopebar-background;
  color: $scopebar-color;

  @include breakpoint($beta) {
    display: table;
    width: 100%;
  }
}


/**
 * When flexbox is in use
 *
 * 1. The scopebar container itself. Changes on global flexbox setting
 * 2. Flexing before global flexbox
 */

@include flexbox {

  /* 1 */

  .k-scopebar {
    width: auto;
    flex: 0 0 auto;
  }
}


/* 2 */

@include flexbox($horizontal: $beta) {

  .k-scopebar {
    display: flex;
    flex: 0 0 auto;
  }

  .k-scopebar__item {
    display: block;
    flex: 0 0 auto;
  }

  .k-scopebar__search {
    display: block;
    flex: 0 1 auto;
  }


  /* Put at least one fluid item in every scopebar */

  .k-scopebar__item--fluid {
    flex: 1 1 auto;
  }
}


/* Scopebar items */

.k-scopebar__item {
  @include border(bottom, $scopebar-border);
  vertical-align: middle;
}


/* Scopebar filter title */

.k-scopebar__item--title {
  width: auto;
  padding: 0 .5em 0 1em;
  font-weight: bold;
  vertical-align: middle;
  font-size: 12px;
  line-height: $scopebar-size;
  display: inline-block;
}


/**
 * Scopebar filters
 *
 * 1. Setting to inline-block to align with title and different filters
 * 2. Setting height to scopebar height
 * 3. Fixing line-height/positioning bug caused by `display: inline-block`
 */

.k-scopebar__item--filters {
  display: inline-block; /* 1 */
  height: $scopebar-size; /* 2 */
  width: auto;
  font-size: $scopebar-filter-font-size;

  ul {
    @include reset;
    @include clearfix;
    display: inline-block; /* 1 */
    height: $scopebar-size; /* 2 */
    line-height: $scopebar-size; /* 2 */
    vertical-align: middle; /* 3 */
  }

  li {
    display: block;
    float: left;
    line-height: $scopebar-size;
    vertical-align: middle;
    height: $scopebar-size; /* 2 */
    margin-right: $scopebar-filter-spacing;


    /**
     * The active item
     *
     * 1. Larger padding to appear more like a tab
     * 2. Set same color as filter container to appear as a tab
     * 3. Darken the border so it's better visible
     * 4. Give fake border the same color as filter container
     */

    &.js-is-active {
      .k-filter-button {
        background: $scopebar-filter-background; /* 2 */
        border-color: $scopebar-filter-border; /* 3 */
        outline: none;
        text-decoration: none;
        color: $color-type;
      }
    }
  }

  .k-filter-button {
    display: inline-block; /* 1 */
    height: $scopebar-filter-size;
    margin-top: $scopebar-filter-spacing;
    margin-bottom: $scopebar-filter-spacing;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0 $scopebar-filter-spacing;
    line-height: $scopebar-filter-size;
    vertical-align: baseline;
    cursor: pointer;
    color: $color-accent;
    background: transparent;


    /* A hover to show they are clickable */

    &:hover,
    &:focus {
      text-decoration: underline;
    }


    /* Don't show the outline on hover since the active item doesn't show an outline anyways */

    &:hover {
      outline: none;
    }


    /* When it has an active filter, show it */
    &.has-active-filter {
      font-weight: bold;

      @include icon-before(check, true) {
        font-size: 10px;
        margin-right: 5px;
        margin-bottom: 2px;
        vertical-align: middle;
      }
    }
  }
}

.k-scopebar__reset-filters {
  @include reset;
  font-size: .9375em;
  color: $scopebar-color;
  margin-left: 1em;

  @include icon-before(circle-x, true) {
    color: $color-error;
    margin-right: .7em;
  }
}


/**
 * Scopebar search
 *
 * 1. Hide by default (when JS is enabled) so we can toggle it open
 * 2. Display as table cell on medium sized screens
 * 3. Display as block for flexbox on larger screens
 * 4. Set a minimum width so the fluid scopebar__item won't make search really small
 * 5. Search area items
 */

.k-scopebar__search {
  position: relative;
  min-width: 200px;

  @include js-enabled {
    display: none; /* 1 */

    @include breakpoint($beta) {
      display: table-cell; /* 2 */
    }

    @include breakpoint($desktop) {
      display: block; /* 3 */
    }
  }


  /* 4 */

  @include breakpoint($beta) {
    max-width: 320px;
  }


  /* 5 */

  .k-search__container {
    width: 100%;
    position: relative;
  }

  .k-search__container--has-search-button .k-search__field {
    padding-left: 28px;
  }

  .k-search__container--has-empty-button .k-search__field {
    padding-right: 18px;
  }

  .k-search__container--has-both-buttons .k-search__field {
    padding-left: 28px;
    padding-right: 18px;
  }

  label {
    @extend .visually-hidden;
  }

  .k-search__field {
    @include reset;
    margin: 0;
    display: block;
    width: 100%;
    height: $scopebar-size;
    border-radius: 0;
    padding: $spacing-tiny;
    padding-right: $scopebar-size;
    background: $scopebar-search-background;
    color: $scopebar-search-color;
    box-shadow: none;
    font-size: 12px;
    -webkit-appearance: none;

    @include breakpoint($beta) {
      max-width: 250px;
      border-left: 1px solid $scopebar-border;
    }
  }

  .k-search__button-search {
    @include reset;
    position: absolute;
    top: 50%;
    left: .5em;
    margin-top: -.75em;
  }

  .k-search__button-empty {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    display: inline-block;
    top: 50%;
    right: 0;
    width: 22px;
    height: 22px;
    margin-top: -10px;
    background: transparent;

    span {
      margin: 3px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 16px;
      height: 16px;
      display: inline-block;
      line-height: 16px;
      text-align: center;
      border-radius: 100%;
      color: #777;
      text-decoration: none;
      font-weight: bold;
      font-family: Arial, helvetica, sans-serif;
      font-size: 10px;
    }

    &:hover {
      cursor: pointer;

      span {
        background: #ea9393;
        border: 1px solid #ce4c4c;
        color: #fff;
        text-shadow: 1px 1px 1px #ce4c4c;
        @include box-shadow(inset 1px 2px 1px lighten(#ce4c4c, 10%));
      }
    }
  }

}



/**
 * Search toggle button
 *
 * 1. Hide when search is visible
 */

.k-toggle-search {
  position: relative;
  display: none;
  float: right;
  overflow: hidden;
  width: 33px;
  height: 0;
  margin: 0;
  border: none;
  padding: 0;
  padding-top: 33px;
  background: transparent;

  .k-icon-magnifying-glass {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 16px;
    vertical-align: middle;
    margin: -8px 0 0 -8px;
  }

  @include js-enabled {
    display: block;

    @include breakpoint($beta) {
      display: none; /* 1 */
    }
  }
}
