/* ==========================================================================
   Sidebars
   ========================================================================== */

/**
 * The left and right sidebar
 */

.k-sidebar,
.k-sidebar-right {
  position: relative;
  -webkit-overflow-scrolling: touch;


  /* Faking flexbox on older browsers by using table styling */

  @include breakpoint($desktop) {
    @include allwidth($sidebar-width-small);
    display: table-cell;
    vertical-align: top;
  }


  /* Larger sidebar when space is available */

  @include breakpoint($delta) {
    @include allwidth($sidebar-width);
  }
}


/* When JavaScript is enabled */

@include js-enabled {
  .k-sidebar,
  .k-sidebar-right {
    @include allwidth($sidebar-width);
    position: absolute;
    z-index: 1;
    top: 0;
    height: 100%;
    overflow: auto;
    display: none;


    /* On 'desktop' we 'open' the sidebar by default */

    @include breakpoint($desktop) {
      @include allwidth($sidebar-width-small);
      position: static;
      height: auto;
      display: table-cell;
    }


    /* And we make it even larger when there's enough space */

    @include breakpoint($delta) {
      @include allwidth($sidebar-width);
    }
  }
}


/* When flexbox is in use */

@include flexbox($horizontal: $desktop) {
  .k-sidebar,
  .k-sidebar-right {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
  }

  .k-sidebar__navigation,
  .k-sidebar__footer {
    flex: 0 0 auto;
  }
}


/* Left sidebar specific styling */

.k-sidebar {
  @include border(right, $sidebar-border);
  @include border(bottom, $sidebar-border);
  background: $sidebar-background;
  color: $sidebar-color;

  @include js-enabled {
    left: 0;
    border-bottom: none;
  }
}


/* When sidebar is toggled */

.opened--left {
  .k-sidebar {
    display: block;
  }
}


/* Right sidebar specific styling */

.k-sidebar-right {
  @include border(left, $sidebar-border);
  background: $sidebar-background;
  color: $sidebar-color;

  @include js-enabled {
    right: 0;
  }
}


/* When sidebar is toggled */

.opened--right {
  .k-sidebar-right {
    display: block;
  }
}


/* Sidebar contents
   ========================================================================== */

/* Sidebar item */

.k-sidebar__item {
  width: 100%;

  & + & {
    margin-top: $spacing;
  }

  &--flex {
    @include flexbox {
      flex: 1 0 auto;
    }
  }
}


/* Sidebar header */

.k-sidebar__header {
  padding: $spacing-small $spacing-small 0;
  font-weight: $bold;
  text-transform: uppercase;
  font-size: 12px;
}


/* Sidebar content */

.k-sidebar__content {
  padding: $spacing-small $spacing-small 0;
}


/**
 * Overflowing items
 *
 * 1. Set container to overflow it's items
 */

.k-sidebar__item--overflow {
  overflow: auto; /* 1 */

  @include flexbox {
    flex: 0 1 auto;
  }
}
