/* ==========================================================================
   Table
   ========================================================================== */


/* When flexbox is in use */

@include flexbox {
  .k-table-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: auto;

    .k-table {
      display: flex;
      flex: 0 1 auto;
      background: $table-cell-background-even;

      table {
        flex: 1 1 auto;
      }
    }

    .k-table-pagination {
      flex: 0 0 auto;
    }
  }
}


/* Table contents */

.k-table-container {

  .k-table {
    overflow: auto;
    background: $table-background;
  }

  table {
    width: 100%;
    text-align: left;
    border-collapse: separate;
  }


  /**
   * Cells
   *
   * 1. Position checkbox
   * 2. Remove default margin and set negative top margin to visually align vertically
   */

  th,
  td {
    position: relative;
    height: $table-cell-size;
    vertical-align: middle;
    text-align: left;

    input {
      display: inline-block; /* 1 */
      vertical-align: middle; /* 1 */
      margin: -1px 0 0 0; /* 2 */
    }
  }


  /**
   * Head
   *
   * 1. Don't set a vertical padding on table headers. Set padding on table heading children
   *    We do this so <a> elements are fully clickable for sorting
   * 2. Don't use long header titles since they won't be wrapped
   * 3. Whole <th> should be clickable
   * 4. Set padding here
   */

  th {
    @include border(bottom, $table-header-border);
    z-index: 1;
    padding: 0 $table-cell-spacing; /* 1 */
    white-space: nowrap; /* 2 */
    background: $table-header-background;

    a {
      display: block; /* 3 */
      padding: $table-cell-spacing 0; /* 4 */
      line-height: $table-cell-size - ($table-cell-spacing * 2);
    }
  }


  /**
   * Body
   *
   * 1. No bottom border for last item
   * 2. Small extra info below title display:block to display below title
   */

  td {
    @include border(bottom, $table-cell-border);
    padding: $table-cell-spacing;
    background: $table-cell-background-even;
  }

  tr:nth-child(odd) {
    td {
      background: $table-cell-background-odd;
    }
  }

  tr:last-child {
    td {
      border-bottom: none; /* 1 */
    }
  }

  small {
    display: block; /* 2 */
  }

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }



  /**
   * Table classes
   *
   * Classes to add to table cells
   */

  .k-table-data--right {
    text-align: right;
  }

  .k-table-data--center {
    text-align: center;
  }

  .k-table-data--nowrap {
    white-space: nowrap;
  }

  .k-table-data--wrap {
    word-break: break-all;
  }

  .k-table-data--ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 1px;
  }



  /**
   * Selected
   *
   * When rows are selected they are highlighted
   *
   * 1. Coloring Links and extra elements that don't color automatically with it's parent
   */

  tr.selected {
    td {
      background: $table-cell-accent-background;
      color: $table-cell-accent-color;

      a, i, span {
        color: $table-cell-accent-color; /* 1 */
      }
    }
  }


  /* Sub headings */

  .k-table__sub-header {
    th {
      height: auto;
      padding: ($table-cell-spacing * .66) $table-cell-spacing;
      font-size: .875em;
      text-transform: uppercase;
    }
  }
}


/*
 * Table pagination
 *
 * 1. Faking a bottom border, this shadow will disappear when pagination is positioned to bottom
 */

.k-table-pagination {
  @include border(top, $table-pagination-border);
  padding: $table-pagination-spacing;
  background: $table-pagination-background;
  box-shadow: 0 1px 0 $table-pagination-border;


  /**
   * Pagination contents
   *
   * 1. Align vertically
   * 2. Remove standard Bootstrap margin
   * 3. Style <select> to be as large as the pagination
   * 4. Make sure <select> is always as small as possible
   * 5. Separate <select> from pagination
   */

  .limit,
  .pagination {
    display: inline-block; /* 1 */
    vertical-align: middle; /* 1 */
  }

  .pagination {
    margin: 0; /* 2 */
  }

  select {
    height: $table-pagination-height; /* 3 */
    width: auto; /* 4 */
    margin-right: $table-pagination-spacing; /* 5 */
  }
}



/**
 * Footable
 *
 * Responsive table views
 */

.footable.breakpoint {
  .footable-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    display: block;
    width: $footable-toggle-size;
    height: $footable-toggle-size;
    border: $footable-toggle-border-size solid $footable-toggle-color;
    border-radius: 50%;
    margin-top: -($footable-toggle-size / 2);

    @include icon-after(chevron-bottom, true) {
      display: block;
      width: $footable-toggle-icon-size;
      height: $footable-toggle-icon-size;
      margin: ((($footable-toggle-size - $footable-toggle-icon-size) / 2) - $footable-toggle-border-size);
      color: $footable-toggle-color;
      font-size: $footable-toggle-icon-size;
      line-height: 1.3em;
    }
  }

  tr.selected {
    .footable-toggle {
      border-color: $footable-toggle-color-active;

      &:after {
        color: $footable-toggle-color-active;
      }
    }
  }
}
