/* ==========================================================================
   Toolbar
   ========================================================================== */

.k-toolbar {
  @include border(bottom, $toolbar-border);
  background: $toolbar-background;


  /* Faking flexbox for older browsers */

  @include breakpoint($desktop) {
    width: 100%;
    display: table;
  }
}


/* When flexbox is in use */

@include flexbox {
  .k-toolbar {
    flex: 0 0 auto;
  }
}


/* Toolbar contents */

.k-toolbar {
  button,
  .btn {
    margin: 10px 0 10px 10px;


    /**
     * Make buttons square
     *
     * Only make them square if media queries are supported
     * By default we just want them as buttons
     */

    @include breakpoint(0, range, $charlie) {
      overflow: hidden;
      width: 32px;
      height: 32px;
      padding: 6px 8px;
      text-align: center;
    }
  }


  /**
   * Options button
   *
   * Align the options button right
   */

  .k-btn-options {
    float: right;
    margin-right: 10px;
  }


  /**
   * Alternative button colors
   *
   * If the button colors don't fit the toolbar you can have alternative colors
   */

  @if $toolbar-btn-alt == true {
    .btn-success {
      border-color: $toolbar-btn-success-border;
      background: $toolbar-btn-success-background;
      color: $toolbar-btn-success-color;

      &:hover,
      &:focus {
        border-color: $toolbar-btn-success-hover-border;
        background: $toolbar-btn-success-hover-background;
        color: $toolbar-btn-success-hover-color;
      }
    }
  }


  /**
   * Position the icon
   *
   * Only position them if media queries are supported
   * By default we just want them aligned normally
   */

  i {
    @include breakpoint(0, range, $charlie) {
      display: block;
      margin: 0;
      font-size: $font-size-large;
      line-height: 1.2em;
    }

    display: inline-block;
    margin: 0 .25em 0 .1em;
  }
}


/* Text on the toolbar buttons */

.k-toolbar__text {
  @include breakpoint(0, range, $charlie) {
    position: relative;
    z-index: -1;
    visibility: hidden;
  }
}