/* ==========================================================================
   Upload
   ========================================================================== */

/**
<!-- upload -->
<div class="k-upload">
    <div class="k-upload__drop">
        Drop files here <small>(max 10MB)</small>
    </div>
    <div class="k-upload__buttons">
        <button class="btn btn-sm btn-primary">Select</button>
        <button class="btn btn-sm btn-primary">From URL</button>
    </div>
</div><!-- .k-upload -->
*/

.k-upload {
  @include border(bottom, $upload-border);
  display: table;
  width: 100%;
  padding: $upload-spacing;
  background: $upload-background;


  /* When flexbox is in use */

  @include flexbox {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
  }
}


/**
 * The drop message
 *
 * 1. 100% width so this 'cell' expands
 */

.k-upload__drop {
  display: table-cell;
  width: 100%; /* 1 */
  margin: 0;
  line-height: $upload-drop-line-height;
  font-size: $upload-drop-font-size;
  color: $upload-drop-color;


  /**
   * When flexbox is in use
   *
   * 1. Flexible item
   * 2. Reset display to block
   * 3. Reset width for flexbox
   */

  @include flexbox {
    flex: 1 0 auto; /* 1 */
    display: block; /* 2 */
    width: auto; /* 3 */
  }


  /* <small> upload message behind title */

  small {
    font-size: 14px;
    padding-left: 5px;
  }
}


/**
 * Clickable buttons to upload
 *
 * 1. 1px width so this 'cell' stays small
 * 2. nowrap to make sure buttons stay next to each other
 */

.k-upload__buttons {
  display: table-cell;
  width: 1px; /* 1 */
  white-space: nowrap; /* 2 */
  padding-left: $upload-buttons-spacing;


  /**
   * When flexbox is in use
   *
   * 1. Non-flexible item
   * 2. Reset display to block
   * 3. Reset width for flexbox
   */

  @include flexbox {
    flex: 0 0 auto; /* 1 */
    display: block; /* 2 */
    width: auto; /* 3 */
  }
}
