# IDE & System Related Files #
.buildpath
.project
.settings
.DS_Store
.idea

# Local System Files (i.e. cache, logs, etc.) #
/config/configuration.php
/web/.htaccess
/web/web.config
/cache
/logs
/tmp

# Test Related Files #
/phpunit.xml
/tests/system/webdriver/tests/logs/
/tests/system/servers/configdef.php

# phpDocumentor Logs #
phpdoc-*

