# IDE & System Related Files #
.buildpath
.project
.settings
.DS_Store
.idea

# Joomla #
/cache
/log
/administrator/log

# phpDocumentor Logs #
phpdoc-*

# Dotenv
.env
.env.*
!.env.example

# Vagrant
bin
.vagrant

# Node Package Manager
node_modules

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep
/web/administrator/log/jcontroller.log.php
