# IDE & System Related Files #
.buildpath
.project
.settings
.DS_Store
.idea

# Joomla #
/config/configuration.php
/administrator/cache
/cache
/logs
/tmp

# Test Related Files #
/phpunit.xml
/tests/system/webdriver/tests/logs/
/tests/system/servers/configdef.php

# phpDocumentor Logs #
phpdoc-*

# Dotenv
.env
.env.*
!.env.example

# Vagrant
bin
.vagrant

# Node Package Manager
node_modules

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep
composer.lock
