/* ==========================================================================
   CSS only styled checkbox
   ========================================================================== */

/**
 * 1. Remove rounded corners by default
 * 2. Display a check icon in the psuedo before element
 * 3. Height of the box minus the border size
 * 4. Height of the psuedo element minus a 1px padding/margin to move icon
      away from the side of the box
 * 5. Set the color of the check icon
 */

@include modernizr('.k-appearance.k-checked') {
  input[type="checkbox"] {
    border-radius: 0; /* 1 */

    @include icon-before(check, true) {
      /* 2 */
      width: $form-option-size - ($form-option-border-size * 2); /* 3 */
      height: $form-option-size - ($form-option-border-size * 2); /* 3 */
      line-height: $form-option-size - ($form-option-border-size * 2); /* 3 */
      font-size: $form-option-size - ($form-option-border-size * 4); /* 4 */
      color: $color-accent; /* 5 */
    }
  }
}
