/* ==========================================================================
   Form layouts
   ========================================================================== */

.k-list-layout,
.k-form-layout {
  margin: 0;
}

@include flexbox {
  .k-list-layout,
  .k-form-layout {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: auto;
  }
}