/* ==========================================================================
   CSS only styled checkboxes and radio boxes
   ========================================================================== */

/**
 * Shared styling between radio boxes and checkboxes
 *
 * Handles following marlup styles:
 *
 * Markup example 1:
 * <input id="input1">
 * <label for="input1">Label 1</label>
 * <input id="input2">
 * <label for="input2">Label 2</label>
 *
 * Markup example 2:
 * <label><input id="input1"> Label 1</label>
 * <label><input id="input2"> Label 2</label>
 */

@include modernizr('.k-appearance.k-checked') {
  input[type="checkbox"],
  input[type="radio"] {

    /**
     * 1. Resetting the default styling used by browsers. Don't do this for -moz-
          because the checkbox and radio box will look very ugly
     * 2. Positioning relative to position psuedo before element nicely
     * 3. Vertically positioning next to text
     * 4. Aligning vertically next to labels
     * 5. Indicate that element is clickable
     */

    -webkit-appearance: none; /* 1 */
    /* -moz-appearance: don't set this; /* 1 */
    position: relative; /* 2 */
    height: $form-option-size;
    width: $form-option-size;
    margin-top: -1px; /* 3 */
    margin-bottom: 2px; /* 3 */
    margin-left: 0;
    margin-right: .33em;
    border: $form-option-border-size solid $form-option-border;
    padding: 0;
    background: $form-option-background;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer; /* 5 */
    box-shadow: $form-option-shadow;
    transition: background $transition-duration $transition-easing;

    /* Hover to indicate element is clickable */

    &:hover {
      background: #f1f1f1;
    }

    /* Set disabled border color a bit lighter so it won't appear to be larger */

    &:disabled {
      border-color: #bbb;
    }

    /**
     * 1. Position psuedo element absolute to have full control
     * 2. Position top-left, margin, width and height will take care of centering
     * 3. Initially hide the psuedo element
     * 4. Show the psuedo element when item is checked
     */

    &:before {
      position: absolute; /* 1 */
      top: 0; /* 2 */
      left: 0; /* 2 */
      display: none; /* 3 */
      text-align: center;
      vertical-align: middle;
      background: transparent;
    }

    &:checked:before {
      display: block; /* 4 */
    }

  }

  /* Put some space between the box and the label */
  label {

    /**
     * <input id="input1">
     * <label for="input1">Label 1</label>
     * <input id="input2">
     * <label for="input2">Label 2</label>
     */

    & + input[type="checkbox"],
    & + input[type="radio"] {
      margin-left: 1em;
    }

    /**
     * <label><input id="input1"> Label 1</label>
     * <label><input id="input2"> Label 2</label>
     */

    & + label {
      margin-left: 1em;
    }
  }
}
