/* ==========================================================================
   CSS only styled radio box
   ========================================================================== */

/**
 * 1. Making the radio box round
 * 2. Adding content to display the psuedo element
 * 3. Small inner circle, scaling with the box itself
 * 4. positioning the inner circle
 * 5. Making inner circle actually round
 */

@include modernizr('.k-appearance.k-checked') {
  input[type="radio"] {
    border-radius: 50%; /* 1 */

    &:before {
      content: " "; /* 2 */
      width: $form-option-size - ($form-option-border-size * 8); /* 3 */
      height: $form-option-size - ($form-option-border-size * 8); /* 3 */
      margin: 3px; /* 4 */
      background: $form-option-color;
      border-radius: 50%; /* 5 */
    }
  }
}
