.k-overview {
  margin-top: 0;
}

button.close {
  padding: 5px;
  opacity: .8;
  line-height: 20px;
}

.k-filter-container {
  .js-stools-field-filter {
    margin-bottom: 7px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.k-container__title {
  h4 {
    font-size: 2em;
    margin: 0 0 .65em;
  }
}

.input-group--alias {
  .input-group-addon {
    label {
      margin: 0;
      font-weight: normal;
    }

    & + input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}