.chzn-container {
  min-width: 100%;
  max-width: 100%;
}

.chzn-container-single .chzn-single {
  height: 32px;
  line-height: 30px;
}

.chzn-container-single .chzn-single div b {
  background-position: 0 6px;
}

.k-scopebar {
  .chzn-container {
    min-width: 0;
    max-width: none;
  }
}


.k-container {

  // Tabs closer to previous container
  .k-container__main {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .nav-tabs {
    margin-left: 10px;
    margin-right: 10px;
  }

  .tab-content {
    @include clearfix;
    padding-top: 20px;
  }
}

.k-container__content {
  @include clearfix;
}

.readonly {
  display: block;
}
