// Styling select2 containers inside pagination
.k-pagination__limit {
  white-space: nowrap;

  .select2-container.select2-container.select2-container {
    display: inline-block;
    margin-right: $k-table-pagination-spacing;
    min-width: 56px !important;
    width: auto !important;
  }
}

// Form view tabs

.k-container {

  // Tabs closer to previous container
  .k-container__main {
    &:last-child {
      margin-bottom: 0;
    }
  }

  // Tabs
  .nav-tabs {
    margin-left: 10px;
    margin-right: 10px;
  }

  .tab-content {
    @include clearfix;
    padding-top: 20px;
  }
}

// Form view below tabs
.k-container__content {
  @include clearfix;
}

// Form views nicer layout
.readonly {
  display: block;
  min-height: 32px;
}





// Back to KUI?
form legend {
  &:first-child {
    padding-top: 0;
  }
}

.k-tabs-container {
  @include clearfix;
  overflow: hidden;
  width: 100%;
  margin: 0 auto (-($k-spacing));
  padding: $k-spacing 0;

  /* When flexbox is in use */
  @include flexbox {
    flex: 0 0 auto;
  }

  /* When resizing */
  @include resizing {
    overflow: hidden;
  }

  > .nav-tabs { /* Rename to k-tabs if this goes into KUI */
    padding-top: $k-spacing;
    padding-left: $k-spacing;
    padding-right: $k-spacing;
    background: white;
    border-top: 1px solid #ddd;
  }

  .tab-content { /* Rename to k-tabs-content if this goes into KUI */
    padding: $k-spacing;
  }
}

.nav-tabs > li.active.active > a {
  background: $k-component-background;
  color: $k-color-type;
}


.k-form-block {
  @include content-block;
}


.label-important {
  background: red;
}

.k-table-container .k-table small {
  a,
  span {
    display: inline;
    vertical-align: baseline;
  }
}

.k-title-bar__heading {
  text-transform: capitalize;
}


// @TODO: Create a mixin from button in KUI to be able to include it elsewhere easily?
.k-table .btn-micro {
  display: inline-block;
  margin-bottom: 0; /* 1 */
  font-weight: $k-regular;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; /* 2 */
  border: 1px solid transparent;
  white-space: nowrap;
  box-shadow: none;
  text-shadow: none;
  user-select: none;
  border-radius: $k-border-radius;
  margin-right: $k-spacing-tiny;
  line-height: $k-line-height;
  padding: $k-spacing-base-vertical $k-spacing-base-horizontal;

  &:last-child {
    margin-right: 0;
  }

  @include rtl {
    margin-right: 0;
    margin-left: $k-spacing-tiny;

    &:last-child {
      margin-left: 0;
    }
  }

  @include button-variant($k-btn-default-color, $k-btn-default-background, $k-btn-default-border);

  // @TODO: mixin as well?
  border-radius: $k-border-radius-small;
  font-size: $k-font-size-tiny;
  line-height: $k-line-height-tiny;
  padding: $k-spacing-tiny-vertical $k-spacing-tiny-horizontal;

  background: white;

  .icon-publish {
    @include icon-after(check, true);
  }
}
