// Empty, good

.treeselect {
  @include reset;
}

.treeselect-toggle {
  @include button-default;
  @include button-variant($k-btn-default-color, $k-btn-default-background, $k-btn-default-border);
  @include button-size($k-border-radius-small, $k-font-size-small, $k-line-height-small, $k-spacing-small-vertical $k-spacing-small-horizontal);

  &:after {
    display: inline-block;
    content: "-"
  }

  &.icon-plus:after {
    content: "+";
  }
}

.treeselect-item,
.treeselect-menu {
  display: inline-block;
}