// Set icon path
$k-icon-path: '../fonts';

// Import kodekit UI
@import "../node_modules/kodekit-ui/src/scss/admin-ui";

// Override variables
@import "tools/variables";

// Bootstrap outside the kui namespace
@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "bootstrap-sass/assets/stylesheets/bootstrap/popovers";
@import "bootstrap-sass/assets/stylesheets/bootstrap/tooltip";

// Koowa namespaced styling
.k-ui-namespace {

  // Bootstrap
  @import "bootstrap/bootstrap";

  // Molecules
  @import "molecules/button";
  @import "molecules/colorpicker";
  @import "molecules/dragdropsorting";
  @import "molecules/form";
  @import "molecules/grid";
  @import "molecules/heading";
  @import "molecules/icon";
  @import "molecules/label";
  @import "molecules/modal";
  @import "molecules/pagination";
  @import "molecules/table";
  @import "molecules/tabs";
  @import "molecules/utilities";

  // Shame...
  @import "utilities/shame";

}

// Modified Bootstrap outside the kui namespace
@import "bootstrap/popover";
@import "bootstrap/modal";
@import "bootstrap/animation";
@import "bootstrap/close";

// Styling outside the kui namespace
@import "utilities/select2";

