// Set icon path
$k-icon-path: '../fonts';

// Import default Joomla styling (Joomlatools framework)
@import "kodekit-ui/src/scss/admin-ui.scss";

// Override variables
@import "utilities/variables";

// Basic html and body setup
@import "utilities/setup";

@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "bootstrap-sass/assets/stylesheets/bootstrap/popovers";
@import "bootstrap-sass/assets/stylesheets/bootstrap/tooltip";

// Koowa namespaced styling
.k-ui-namespace {

  // Bootstrap
  @import "bootstrap/bootstrap";

  // Utilities
  //@import "utilities/icons";
  //@import "utilities/mapping";

  // Molecules
  //@import "molecules/colors";
  //@import "molecules/indentation";
  //@import "molecules/media";
  //@import "molecules/message";
  //@import "molecules/navigation";
  //@import "molecules/scopebar";
  //@import "molecules/table";
  //@import "molecules/tabs";
  //@import "molecules/toolbar";
  //@import "molecules/treeselect";
  //
  //// Organisms
  @import "organisms/login";
  //@import "organisms/flexbox";
  //
  //// Shame...
  //@import "shame";
  //
  //// Hacks
  //@import "utilities/hacks";

}


