// Tools and variables
@import "utilities/material-colors-custom";
@import "utilities/variables";

// Import default Joomla styling (Joomlatools framework)
@import "nooku/admin";

// Import default Joomla styling (Joomlatools framework)
@import "kodekit-ui/src/scss/admin-ui.scss";

// Basic html and body setup
@import "utilities/setup";

// Koowa namespaced styling
.koowa {

  // Bootstrap
  @import "bootstrap/bootstrap";

  // Utilities
  @import "utilities/icons";
  @import "utilities/mapping";

  // Molecules
  @import "molecules/colors";
  @import "molecules/indentation";
  @import "molecules/media";
  @import "molecules/message";
  @import "molecules/navigation";
  @import "molecules/scopebar";
  @import "molecules/table";
  @import "molecules/tabs";
  @import "molecules/toolbar";
  @import "molecules/treeselect";

  // Organisms
  @import "organisms/login";
  @import "organisms/flexbox";

  // Shame...
  @import "shame";

  // Hacks
  @import "utilities/hacks";

}
