// Set icon path
$k-icon-path: '../fonts';

// Import default Joomla styling (Joomlatools framework)
@import "kodekit-ui/src/scss/admin-ui.scss";

// Override variables
@import "utilities/variables";

// Basic html and body setup
@import "utilities/html";

// Bootstrap
@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "bootstrap-sass/assets/stylesheets/bootstrap/popovers";
@import "bootstrap-sass/assets/stylesheets/bootstrap/tooltip";

// Koowa namespaced styling
.k-ui-namespace {

  // Bootstrap
  @import "bootstrap/bootstrap";

  // Molecules
  @import "molecules/colorpicker";
  @import "molecules/dragdropsorting";
  @import "molecules/tabs";

  // Shame...
  @import "shame";

}

// Outside the koowa namespace
@import "bootstrap/popover";
@import "bootstrap/modal";
@import "bootstrap/animation";
@import "bootstrap/close";
