/* ==========================================================================
   Flexbox in form layouts
   ==========================================================================

 * 1. Add a .k-form-flexbox to the <form> element
 * 2. Add a .k-container__flex as direct child of the .k-container__main
 */

@include flexbox($vertical: 660px) {
  .k-form-flexbox {
    overflow: hidden;

    // For inline scrolling of a flexbox item
    * {
      min-height: 0;
    }

    .k-container {
      display: flex;
      flex-direction: row;
      flex: 1 1 auto;
      padding: 0;
    }

    .k-container__main {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      margin: 0;

      fieldset {
        flex: 0 0 auto;
        padding: 20px;
        margin: 0;
      }
    }

    .k-container__sub {
      margin: 0;
      border-left: 1px solid palette(Blue Grey, 100);
      overflow-y: auto;

      .k-form-block {
        background: none;
        border: 0 none;
        margin: 0;
        padding: 0;
        border-top: 1px solid $form-block-border;

        &:first-child {
          border-top: none;
        }
      }

      .k-form-block__content {
        padding: 20px;
      }
    }

    .k-container__flex {
      &,
      .k-container__no-tabs,
      .tab-container,
      .tab-content,
      .tab-pane.active {
        display: flex;
        flex: 1 1 auto;
      }

      .tab-container {
        flex-direction: column;
        margin: 0;
      }

      .nav-tabs {
        padding-left: 20px;
        flex: 0 0 auto;
      }

      .tab-pane {
        flex-direction: column;
        border-bottom: 0 none;
        border-left: 0 none;
        border-right: 0 none;
      }

      .k-scrollable {
        max-width: 100%;
        height: auto;
        flex: 0 0 auto;
        overflow: hidden;
        padding: 0;

        .k-scrollable__body {
          height: auto;
          padding: 20px;
          overflow: auto;
        }
      }

      .tab-editor {
        padding: 0px;
      }

      .editor {
        &,
        .mce-tinymce,
        .mce-tinymce > .mce-container-body,
        .mce-tinymce > .mce-container-body > .mce-edit-area {
          display: flex;
          flex: 1 1 auto;
        }

        &,
        .mce-tinymce > .mce-container-body {
          flex-direction: column;
        }

        .mce-tinymce > .mce-container-body,
        .mce-tinymce > .mce-container-body iframe {
          height: auto !important; // Override element style
        }

        .toggle-editor {
          display: none;
        }

        .mce-tinymce {
          border: none;

          > .mce-container-body > .mce-toolbar.mce-first {
            background-color: white;
          }
        }
      }
    }
  }
}