/* ==========================================================================
   Login screen
   ========================================================================== */

/**
 * The body element
 *
 * 1. Spacing so login window won't touch sides on mobile resolution
 */

&.admin--login {
  background: #263238;
  padding: $spacing; /* 1 */
  overflow: auto;


  /* Reset default white background */

  .koowa-container {
    background: transparent;
  }
}



/**
 * Login container
 *
 * Container holding the login window
 *
 * 1. Setting up for centering the login window
 * 2. Make room fo the logo popping out with negative margin
 */

.k-login-container {
  text-align: center; /* 1 */
  white-space: nowrap; /* 1 */
  padding-top: 50px; /* 2 */


  /**
   * Psuedo element for vertical centering
   *
   * 1. Adjusts for spacing
   */

  &:before {
    content: ' ';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* 1 */
  }


  /* Use flexbox when available */

  @include flexbox {
    display: flex;
    flex: 1 1 auto;
    align-items: center;


    /* Hide the psuedo eleemnt when using flexbox */

    &:before {
      display: none;
    }
  }
}



/**
 * Login window
 *
 * 1. Horizontal and vertical centering
 */

.k-login {
  background: white;
  width: 100%;
  max-width: 360px;
  height: auto;
  margin: auto;
  display: inline-block; /* 1 */
  vertical-align: middle; /* 1 */
  border-radius: 5px;
  padding: $spacing;
  box-shadow: 0 6px 0 -4px rgba(0,0,0,.3);


  /* Don't flex this window, it needs to be as big as it's children */
  @include flexbox {
    flex: 0 0 auto;
  }


  /* Extra spacing between input fields */

  .form-group {
    padding: 5px 0;
  }
}



/**
 * Client logo
 *
 * 1. Make a circle
 * 2. Align in the center
 * 3. Pull circle out of main window
 * 4. Add some negative bottom margin to get fields closer to the logo
 *    We do this because the padding will act as natural spacing between logo and first field
 * 5. Space the logo from the sides
 */

.k-login__brand {
  display: block;
  background: white;
  height: 140px; /* 1 */
  width: 140px; /* 1 */
  border-radius: 50%; /* 1 */
  text-align: center; /* 2 */
  margin-top: -(50px + $spacing); /* 3 */
  margin-bottom: -20px; /* 4 */
  margin-left: auto;
  margin-right: auto;
  padding: 20px; /* 5 */

  img {
    max-height: 100%;
    vertical-align: middle; /* 2 */
  }
}

