/* Hide toolbar when it's visible but not needed */

@at-root .view-cpanel {
  .k-toolbar {
    @include breakpoint($k-charlie) {
      display: none;
    }
  }
}
@at-root .com_translations {
  .k-toolbar {
    display: none;
  }
}



/* Quick dirty fix for DOCman view */

@at-root body.com_docman {
  .k-sidebar {
    display: none !important;
  }

  .k-component {
    .koowa.com_docman {
      @include flexbox {
        display: block;
        flex: 0 0 auto;
      }
    }
  }
}



/* Override the nasty way */

.inline-block {
  display: inline-block!important;
}



/* Hide with CSS */

.hide {
  display: none;
}



// @TODO : Remove when editor has been upgraded to CKE
.wf_editor_toggle {
  display: none;
}
// @TODO : END



/* Hide the very irritating tooltips */

.tooltip {
  display: none !important;
}




.navbar-header {
  position: relative;
  z-index: 2;
}
