// Mapping BS 2 to BS 3
.input-group-form-control {
  @extend .form-control;
}

.input-group--alias {
  input {
    @extend .form-control;
  }
}

.element-invisible {
  @extend .visually-hidden;
}

.label {
  @extend .label-default;
}

.control-group {
  @extend .form-group;
  margin-left: auto;
  margin-right: auto;
}

.btn-group-yesno {
  @extend .booleanlist;
  padding: 1px !important; // To win over bootstrap styling
}

#jform_params_include_child_categories,
#jform_params_show_icon,
#jform_params_show_category {
  @extend .btn-group-yesno;
}

.input-append {
  @extend .input-group;
}

.form-group {
  textarea {
    @extend .form-control;
  }
}

.input-append {
  @extend .input-group;

  input {
    @extend .form-control;
  }
}

.accordion {
  @extend .panel-group;
}

.accordion-group {
  @extend .panel;
  @extend .panel-default;
}

.accordion-heading {
  @extend .panel-heading
}

.accordion-content {
  @extend .panel-body
}

.alert {
  @extend .alert-info;
}

.input-xxlarge {
  @extend .form-control;
  @extend .input-lg;
}

.pagination-list {
  @extend .pagination;
}

.item-associations {
  @include reset;
}

.label-association {
  @extend .label-info;
}

.btn-small {
  @extend .btn-sm;
}

.js-stools-search-string {
  @extend .k-search__field;
}

.btn-micro {
  @extend .btn-xs;
}

.js-stools-menutype {
  @extend .k-scopebar__item;
  padding: 4px 4px 0 0;
}