// Hide bedug for now, doesn't really play nice with flexbox
#system-debug {
  display: none;

  @include flexbox {
    flex: 0 1 auto;
  }
}

// Remove bounce scroll on edges on OSX
html {
  @include flexbox {
    height: 100%;
    overflow: hidden;
  }
}

// Default styling
body.koowa {
  // Smooth font
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Don't let the user select anything
  user-select: none;
  cursor: default;

  // Font settings
  font-family: Helvetica , Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;


  // Flexbox when screen is large enough
  @include flexbox {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1 1 auto;
    // Overriding overflow
    height: 100% !important;
  }

  // Also make the first koowa in body full height
  & > .koowa {
    min-height: 100%;
    overflow: hidden;

    // But an auto height when item has flexbox
    @include flexbox {
      height: auto;
    }
  }
}


/**
 * Flexbox on .koowa
 */

.koowa {
  @include flexbox {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1 1 auto;
  }
}