// Module menu assigment tree select styling

// Re add here to override Bootstrap mixin
@import "../../node_modules/kodekit-ui/src/scss/admin/tools/mixins/button";

.treeselect {
  @include reset();

  > li {
    @include content-block();
  }
}

.treeselect-sub {
  @include reset();
  padding-left: 48px;

  label {
    font-weight: normal;
  }
}

.treeselect-toggle {
  @include button-default();
  @include button-variant($k-button-default-color, $k-button-default-background, $k-button-default-border);
  @include button-size($k-button-small-border-radius, $k-button-small-font-size, $k-button-small-line-height, $k-button-small-vertical-spacing $k-button-small-horizontal-spacing);
  margin-right: 8px;

  &:after {
    display: inline-block;
    content: "-"
  }

  &.icon-plus:after {
    content: "+";
  }
}

.treeselect-item,
.treeselect-menu {
  display: inline-block;

  .nav-header {
    margin: 0 8px 0 0;
  }

  .dropdown-menu {
    .nav-header {
      padding-left: 12px;
      font-weight: bold;
      font-size: 11px;
      text-transform: uppercase;
    }
  }

  .checkall {
    @include icon-before(task, true);
  }

  .uncheckall {
    &:before {
      display: inline-block;
      content: " ";
      width: 12px;
      height: 12px;
      border: 2px solid;
      opacity: 0.8;
    }
  }
}

.nav-stacked {
  li {
    display: block;
  }
}


// Top navigation overrides

.k-top-container__navigation {

  // Remove caret added by Joomla!
  .caret {
    display: none;
  }

  // Remove styling from default dropdown styles
  .dropdown-menu {
    font-size: inherit;
    text-align: inherit;
    border-radius: 0;
    border: none;

    a {
      display: block;
      padding: 0 16px;
      font-weight: inherit;
      white-space: nowrap;
    }
  }
}



// Move back to KUI
// Added to make sure images are not 49px tall instead of 48px

.k-top-container__logo a {
  line-height: 1;
}


// Style 'multiple' chozen container

.chzn-container {
  min-width: 100%;
  width: 100%;

  .chzn-choices {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    user-select: none;

    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: white;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    color: #222222;
    font-size: 13px;
    outline: 0;

    height: 32px;
    line-height: 18px;
    padding: 6px;
  }

  &.chzn-container-multi .chzn-choices li.search-field input[type="text"] {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    padding-left: 6px;
  }

  .chzn-drop {
    border: none;
    padding: 0;
    margin: 0;
    background: transparent;
  }

  &.chzn-container-multi .search-choice + .search-field {
    input[type="text"] {
      height: 28px;
      padding-left: 12px;
    }
  }
}


// Hide 'single' chozen container

.chzn-container-single {
  display: none !important;
}


// Hide star for title in edit forms

span.star {
  display: none;
}



// Flexing editor

.mceditor-container {
  &,
  .editor,
  .mce-tinymce,
  .mce-stack-layout,
  .mce-edit-area,
  .mce-edit-area iframe {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  textarea {
    max-width: 100%;
    min-width: 100%;
    flex: 1 1 auto;
  }

  .btn-toolbar,
  .mce-menubar,
  .mce-toolbar,
  .mce-statusbar {
    display: block;
    flex: 0 0 auto;
    flex-direction: row;
  }

  .mce-edit-area iframe {
    height: auto !important;
  }

  .mce-resizehandle,
  .mce-i-resize {
    display: none!important;
  }

  .btn-toolbar {
    padding-top: 8px;
  }

  .btn {
    @include button-default('.active', '.disabled');
    @include button-variant($k-button-default-color, $k-button-default-background, $k-button-default-border);

    [class*="icon"]:nth-child(n) {
      display: none;
    }
  }
}


// Icons
.mce-btn-small {
  .icon-file-add {
    @include icon-after(file, true);
  }
  .icon-copy {
    @include icon-after(project, true);
  }
  .icon-arrow-down {
    @include icon-after(chevron-bottom, true);
  }
}


// Fix broken Bootstrap/Joomla styling
.checkbox {
  padding-left: 20px;
}


// Tabs, port back to KUI
.k-component > .k-tabs-container:first-child {
  .k-tabs-scroller-prev,
  .k-tabs-scroller-next {
    margin-top: -1px;
  }
}

// Two buttons behind each other in input-group
.k-input-group__button:not(:last-child) {
  .k-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.k-input-group__button:not(:first-child) {
  .k-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}