/* Colors */
$color-success: $k-color-success;
$color-error: $k-color-error;
$color-accent: $k-color-neutral;

/* Bootstrap overrides */
$navbar-default-brand-color: $k-color-accent-type;
$navbar-default-bg: $k-color-accent;
$navbar-default-color: $k-color-accent-type;
$navbar-default-link-color: $k-color-accent-type;
$navbar-default-link-hover-color: $k-color-accent-type;
$navbar-default-link-active-bg: $k-color-accent;
$navbar-default-link-active-color: $k-color-accent-type;
$navbar-default-border: transparent;
$navbar-height: 48px;

$popover-arrow-outer-width: 7px;