/* ==========================================================================
   Grid
   ========================================================================== */

/**
<!-- Container -->
<div class="k-container">
    <!-- Main information -->
    <div class="k-container__main">
        Main
    </div><!-- .k-container__main -->
    <!-- Other information -->
    <div class="k-container__sub">
        Sub
    </div><!-- .k-container__sub -->
</div><!-- .k-container -->
*/


/* Container */

.k-container {
  @include clearfix;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  padding: $spacing;
}


/* When flexbox is in use */

@include flexbox {
  .k-container {
    flex: 0 0 auto;
  }
}


/* Grid children */

.k-container__main {
  margin-bottom: $spacing;

  @include breakpoint($charlie) {
    @include span(8);
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.k-container__sub {
  margin-bottom: $spacing;

  @include breakpoint($charlie) {
    @include span(4);
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
