// Column and gutter
// Better column sizes than the default ones

$column: golden-ratio(4em, 1) !global;
$gutter: golden-ratio(1em, 2) !global;
$border-box-sizing: false     !global;


// Gallery mixin
// Better column sizes than the default ones

@mixin gallery($span: $columns of $container) {

  // Variables

  $gutter: nth($span, 3);
  $columns: nth($span, 1);
  $container: nth($span, 3);
  $omega: $container / $columns;


  // Reset all previous NTH values

  &:nth-child(n+1) {
    clear: none;
    margin-right: flex-gutter($gutter);
  }


  // Use Neat span-columns to align items

  @include span-columns($span);


  // Custom omega since @include omega won't work with custom variables

  &:nth-child(#{$omega}n) {
    margin-right: 0;
  }

  &:nth-child(#{$omega}n+1) {
    clear: left;
  }

}


// Just laziness
// Typing 'span' is simply shorter than typing 'span-columns'
@mixin span($span) {
  @include span-columns($span);
}


// In markup all stacked but behaving as 2 columns
// To let this work properly add a clearfix container around items
// And set the total amount of columns like `@include flow-grid(4);`

@mixin flow-grid($amount) {

  // Variables

  $first-half: $amount/2;
  $second-half: $first-half+1;


  // Reset all previous NTH values

  &:nth-child(n+1) {
    clear: none;
    float: none;
    margin-left: 0;
  }


  // First half

  &:nth-child(-n+#{$first-half}) {
    clear: both;
    float: left;
    width: flex-grid(6);
  }


  // Second half

  &:nth-child(n+#{$second-half}) {
    margin-left: flex-grid(6) + flex-gutter(12);
  }
}
