/* ==========================================================================
   Utilities
   ========================================================================== */

/**
 * Adding class three times so we win over most other classes without using
 * !important. Most selectors are max three long e.g.:
 * `.some.longer[css=selector]` will still lose from `.selector.selector.selector`
 * since we load this file last
 */


/* Just hide the content in a non-accessible way */

.hidden.hidden.hidden {
  display: none;
}


/* Hide the content in an accessible way */

.visually-hidden.visually-hidden.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}


/* Add bottom-margin to an element */

.margin-bottom.margin-bottom.margin-bottom {
  margin-bottom: $spacing;
}


/* Disable transitions */

.no-transition.no-transition.no-transition {
  transition: none;
}


/* Don't wrap content */

.k-nowrap.k-nowrap.k-nowrap {
  white-space: nowrap;
}


/* Hide disabled buttons in the toolbar */

.k-toolbar .disabled.disabled.disabled {
  display: none;
}