// ==========================================================================
// Variables
// ==========================================================================


// Breakpoints
// ==========================================================================
//
// Only work with either
// - (min-width)
// - (min-width) and (max-width)
//
// Try to never use (max-width) alone since that is not very mobile-first
//
// 1. The min width of the interface. Will create a horizontal scrollbar.
//    This way we have a base width to work from
// 2. The max width of the form layout
// 3. Separate $desktop variable is being used so all styles
//    change together when going from small to larger screen.
// 4. Wether or not to Use flexbox in layouts
// 5. Separate $flexbox variables are being used
//    - 300px so flexbox will be active on 320px wide screens
//    - 460px so flexbox will be active on 480px tall screens
//      - 25-09-2015 http://mydevice.io/devices/
//        The only phone at the time to have flexbox in landscape mode is the Blackberry passport

$alpha:               400px !default;
$beta:                600px !default;
$charlie:             768px !default;
$delta:               1024px !default;

$minwidth:            $alpha !default; // 1
$maxwidth:            $delta !default; // 2
$desktop:             $charlie !default; // 3

$flexbox:             true !default; // 4
$flexbox-horizontal:  300px !default; // 5
$flexbox-vertical:    460px !default; // 5


// Function variables
// ==========================================================================
//
// These are used by our light, lighter, lightest, dark, darker and darkest funxtions
// This way we can change the amounts all in one.
// Overwrite-able per function call

$light-percentage:      3% !default;
$lighter-percentage:    7% !default;
$lightest-percentage:   12% !default;

$dark-percentage:       3% !default;
$darker-percentage:     7% !default;
$darkest-percentage:    12% !default;


// Typography
// ==========================================================================

$font-family:     'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-size:       13px !default;
$font-size-large: 15px !default;
$line-height:     20px !default;
$bold:            700 !default;
$regular:         400 !default;
$font-smoothing:  subpixel-antialiased !default;


// Icons
// ==========================================================================

$icon-path: '../fonts' !default;


// Spacing
// ==========================================================================
//
// can either be used as a padding or a margin on elements
// Rounding so we won't get half pixels

$spacing-tiny:  round($font-size / 2) !default;
$spacing-small: round($font-size) !default;
$spacing:       round($font-size * 1.5) !default;
$spacing-large: round($font-size * 2) !default;
$spacing-huge:  round($font-size * 3) !default;


// Unit size
// ==========================================================================

$unit-size: 32px !default;


// Transition
// ==========================================================================
//
// The basic transition being used everywhere to get consistent animations
// Remember to sync the JavaScript animation time with this setting

$transition-duration:   180ms !default;
$transition-easing:     cubic-bezier(.2,.57,.44,.83) !default;
$transition:            $transition-duration $transition-easing !default;


// Colors
// ==========================================================================

$color-type:            #222222 !default;
$color-type-dark:       darken($color-type, 7%) !default;
$color-type-light:      lighten($color-type, 20%) !default;
$color-type-lightest:   lighten($color-type, 50%) !default;


// Primary color

$color-primary:             #EBEDF1 !default;
$color-primary-type:        #333 !default;
$color-primary-lightest:    lightest($color-primary) !default;
$color-primary-lighter:     lighter($color-primary) !default;
$color-primary-light:       light($color-primary) !default;
$color-primary-dark:        dark($color-primary) !default;
$color-primary-darker:      darker($color-primary) !default;
$color-primary-darkest:     darkest($color-primary) !default;


// Secondary color

$color-secondary:           #EEEEEE !default;
$color-secondary-type:      #333 !default;
$color-secondary-lightest:  lightest($color-secondary) !default;
$color-secondary-lighter:   lighter($color-secondary) !default;
$color-secondary-light:     light($color-secondary) !default;
$color-secondary-dark:      dark($color-secondary) !default;
$color-secondary-darker:    darker($color-secondary) !default;
$color-secondary-darkest:   darkest($color-secondary) !default;


// Tertiary color

$color-tertiary:            #eeeeee !default;
$color-tertiary-type:       white !default;
$color-tertiary-lightest:   lightest($color-tertiary) !default;
$color-tertiary-lighter:    lighter($color-tertiary) !default;
$color-tertiary-light:      light($color-tertiary) !default;
$color-tertiary-dark:       dark($color-tertiary) !default;
$color-tertiary-darker:     darker($color-tertiary) !default;
$color-tertiary-darkest:    darkest($color-tertiary) !default;


// Accent color

$color-accent:                  #0088CC !default;
$color-accent-type:             $color-primary !default;

$color-primary-accent:          $color-accent !default;
$color-primary-accent-type:     $color-primary !default;

$color-secondary-accent:        $color-primary !default;
$color-secondary-accent-type:   $color-secondary !default;


// States

$color-success:       #27ae60 !default;
$color-success-type:  white !default;

$color-error:         #c0392b !default;
$color-error-type:    white !default;

$color-neutral:       #2980b9 !default;
$color-neutral-type:  white !default;


// Border
// ==========================================================================
//
// Set borders to false if you don't want any borders in your theme
// You can override borders in each separate module

$borders:       true !default;
$border-color:  false !default;
$border-width:  1px !default;
$border-style:  solid !default;


// Koowa
// ==========================================================================
//
// The default koowa container

$koowa-background:  white !default;
$koowa-padding:     0 !default;


// Breadcrumbs
// ==========================================================================
//
// 1. On mobile we don't show all breadcrumb items
// 2. The content of the divider
// 3. The width of dividers between breadcrumb items
// 4. Height of each breadcrumb item
// 5. The width when showing all breadcrumbs instead of only first and last

$breadcrumb-missing-content:    "…" !default; // 4
$breadcrumb-divider-content:    "»" !default; // 2
$breadcrumb-divider-size:       $spacing !default; // 3
$breadcrumb-size:               $unit-size !default; // 4
$breadcrumb-query:              $charlie !default; // 5

$breadcrumb-background:         $color-primary !default;
$breadcrumb-border:             darker($breadcrumb-background) !default;
$breadcrumb-color:              $color-primary-type !default;

$breadcrumb-background-hover:   $color-primary-darker !default;


// Sidebar
// ==========================================================================
//
// 1. Sidebar width on smaller screens
// 2. Sidebar width when screen is "$desktop"

$sidebar-width-small:       180px !default; // 1
$sidebar-width:             270px !default; // 2

$sidebar-background:        $color-primary !default;
$sidebar-border:            darkest($sidebar-background) !default;
$sidebar-color:             $color-primary-type !default;


// Table
// ==========================================================================
//
// 1. Height of the table cells
// 2. Table cell padding

$table-background:              white !default;

$table-cell-size:               round($font-size * 3) !default; // 1
$table-cell-spacing:            $spacing-tiny !default; // 2

$table-header-background:       $color-tertiary !default;
$table-header-border:           darker($table-header-background) !default;
$table-header-color:            $color-type !default;

$table-cell-background-even:    $color-tertiary-light !default;
$table-cell-background-odd:     $color-tertiary-light !default;
$table-cell-border:             darker($table-cell-background-even) !default;
$table-cell-color:              $color-type !default;
$table-cell-accent-background:  $color-accent !default;
$table-cell-accent-color:       $color-accent-type !default;

$table-pagination-background:   $color-tertiary !default;
$table-pagination-border:       dark($table-pagination-background) !default;
$table-pagination-spacing:      $spacing-tiny !default;
$table-pagination-height:       30px !default;


// Footable
// ==========================================================================

$footable-toggle-size:          20px !default;
$footable-toggle-color:         $color-type-lightest !default;
$footable-toggle-color-active:  $table-cell-accent-color !default;
$footable-toggle-border-size:   2px !default;
$footable-toggle-icon-size:     10px !default;


// Overview layout
// ==========================================================================
//
// The default overview layout

$overview-background:   $color-primary !default;
$overview-border:       false !default;


// Scopebar
// ==========================================================================
//
// 1. Height of the scopebar

$scopebar-size:               $unit-size !default; // 1

$scopebar-background:         $color-secondary-dark !default;
$scopebar-border:             darker($scopebar-background) !default;
$scopebar-color:              $color-secondary-type !default;

$scopebar-search-background:  white !default;
$scopebar-search-color:       $color-type !default;

$scopebar-filter-spacing:     5px !default;
$scopebar-filter-size:        $scopebar-size - ($scopebar-filter-spacing * 2) !default;
$scopebar-filter-font-size:   12px !default;
$scopebar-filter-border:      $scopebar-border !default;
$scopebar-filter-background:  white !default;


// List
// ==========================================================================

$list-spacing:            $spacing-tiny !default;

$list-background:         $sidebar-background !default;
$list-color:              $sidebar-color !default;

$list-hover-background:   $color-primary-lighter !default;
$list-hover-color:        $color-primary-type !default;

$list-active-background:  $list-background !default;
$list-active-color:       $color-primary-accent !default;


// Navigation
// ==========================================================================

$navigation-spacing:            $spacing-tiny !default;
$navigation-background:         $color-primary-dark !default;
$navigation-border:             darker($navigation-background) !default;
$navigation-color:              $color-primary-type !default;
$navigation-accent:             $color-primary-accent !default;

$navigation-hover-background:   $color-primary-light !default;
$navigation-hover-border:       $color-primary-type !default;
$navigation-hover-color:        $color-primary-type !default;
$navigation-hover-accent:       $color-primary-accent !default;

$navigation-active-background:  $navigation-background !default;
$navigation-active-border:      $navigation-accent !default;
$navigation-active-color:       $navigation-accent !default;


// Toolbar
// ==========================================================================
//
// 1. When true; these colors are being used, when false; bootsrap defaults are being used

$toolbar-spacing:                           round($font-size * 0.7) !default;

$toolbar-background:                        darken($color-primary, 4%) !default;
$toolbar-border:                            darker($toolbar-background) !default;
$toolbar-color:                             $color-primary-type !default;

$toolbar-btn-alt:                           false !default; // 1


// Success button

$toolbar-btn-success-border:                $color-secondary-dark !default;
$toolbar-btn-success-background:            $color-secondary !default;
$toolbar-btn-success-color:                 $color-secondary-type !default;
$toolbar-btn-success-hover-border:          darken($toolbar-btn-success-border, 5%) !default;
$toolbar-btn-success-hover-background:      darken($toolbar-btn-success-background, 5%) !default;
$toolbar-btn-success-hover-color:           darken($toolbar-btn-success-color, 5%) !default;


// Titlebar
// ==========================================================================
//
// By default it looks the same as the toolbar

$titlebar-background:   $toolbar-background !default;
$titlebar-border:       $toolbar-border !default;
$titlebar-color:        $toolbar-color !default;


// Overflowing
// ==========================================================================
//
// Overflowing shadows

$overflow-size:     6px !default;
$overflow-blur:     $overflow-size * 2 !default;
$overflow-offset:   -($overflow-size) !default;
$overflow-color:    rgba(0,0,0,.25) !default;


// Form layout
// ==========================================================================

$form-background: $color-tertiary !default;


// Form front
// ==========================================================================
//
// Forms on frontend

$form-front-background:           #333 !default;
$form-front-maxwidth:             $maxwidth !default;
$form-front-spacing:              1em auto 0 !default;
$form-front-content-background:   white !default;
$form-front-content-shadow:       0 3px 6px rgba(0,0,0,.5) !default;


// Form block
// ==========================================================================

$form-block-background:         lightest($form-background) !default;
$form-block-border:             darkest($form-background) !default;

$form-block-header-spacing:     $spacing-tiny !default;
$form-block-header-background:  dark($form-background) !default;
$form-block-header-border:      darker($form-block-header-background) !default;

$form-block-content-spacing:    $spacing-small !default;


// Upload area
// ==========================================================================

$upload-spacing:            $spacing-small !default;
$upload-background:         $color-primary !default;
$upload-border:             darker($upload-background) !default;

$upload-drop-font-size:     1.65em !default;
$upload-drop-line-height:   1.25em !default;
$upload-drop-color:         #595959 !default;

$upload-buttons-spacing:    10px !default;


// Filter container
// ==========================================================================

$filter-container-spacing:            $spacing-tiny !default;
$filter-container-background:         $color-primary !default;
$filter-container-border:             darker($filter-container-background) !default;


// Radio toggle
// ==========================================================================
//
// 1. Use styled radio toggles?
// 2. The color for "false"/0 items
// 3. The color for "true"/1 items
// 4. The color for neutral items

$radio-toggle:          true !default; // 1
$radio-toggle-0:        $color-error !default; // 2
$radio-toggle-1:        $color-success !default; // 3
$radio-toggle-neutral:  $color-neutral !default; // 4


// Checkbox toggle
// ==========================================================================
//
// 1. Use styled checkbox toggles?

$checkbox-toggle:                 true !default; // 1
$checkbox-toggle-size:            32px !default;
$checkbox-toggle-border-width:    1px !default;
$checkbox-toggle-padding:         1px !default;
$checkbox-toggle-border-radius:   6px !default;
$checkbox-toggle-width-inner:     ($checkbox-toggle-size * 2) - (($checkbox-toggle-border-width + $checkbox-toggle-padding) * 2) !default;
$checkbox-toggle-height-inner:    $checkbox-toggle-size - (($checkbox-toggle-border-width + $checkbox-toggle-padding) * 2) !default;
$checkbox-toggle-0:               $color-error !default;
$checkbox-toggle-1:               $color-success !default;
$checkbox-toggle-neutral-0:       #ddd !default;
$checkbox-toggle-neutral-1:       $color-neutral !default;


// Bootstrap overrides
// ==========================================================================
//
// We depend on Bootstrap 3 for a few basic things
// This is the place to overwrite the used variables

$input-height-base:         32px !default;

$padding-base-vertical:     5px !default;
$padding-base-horizontal:   10px !default;

$btn-success-bg:            $color-success !default;
$btn-success-color:         $color-success-type !default;

$pagination-color:          $color-accent !default;
$pagination-active-bg:      $color-accent !default;
$pagination-active-border:  darker($color-accent) !default;


// Offcanvas container with animated hamburger button
// ==========================================================================
//
// 1. The hamburger bar width, best to use a number dividable by 5
// 2. The height is automatically calculated

$overlay-background:  black !default;
$overlay-opacity:     .75 !default;
$button-size:         33px !default;
$button-background:   $color-accent !default;
$button-color:        white !default;
$button-radius:       3px !default;
$bar-width:           15px !default; // 1
$bar-height:          round($bar-width / 5) !default; // 2


// Form styles
// ==========================================================================

$form-option-size:          15px !default;
$form-option-background:    white !default;
$form-option-border:        #aaa !default;
$form-option-border-size:   1px !default;
$form-option-color:         $color-accent !default;
$form-option-shadow:        inset 0 1px 2px rgba(0,0,0,.15) !default;