/* ==========================================================================
   The content wrapper
   ========================================================================== */

/**
 * The default content wrapper layout
 *
 * 1. Left sidebar
 * 2. Toggle button
 * 3. Toolbar
 * 4. Breadcrumbs
 * 5. Upload area
 * 6. Scopebar
 * 7. Table / grid / content
 * 8. Right sidebar
 *
 * _____________________________
 * |  1  |_2_|_3_________|  8  |
 * |     |_4_____________|     |
 * |     |_5_____________|     |
 * |     |_6_____________|     |
 * |     | 7             |     |
 * |     |               |     |
 * |     |               |     |
 * |     |               |     |
 * |     |               |     |
 * |_____|_______________|_____|
 *
 */

/**
 * 1. Clearing toolbar floats when flexbox is not in use
 */

.k-content-wrapper {
  clear: both; /* 1 */
  margin: 0;


  // Faking flexbox on older browsers by using table styling

  @include breakpoint($desktop) {
    display: table;
    width: 100%;
  }
}


/* When flexbox is in use */

@include flexbox {
  .k-content-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    overflow: hidden;
  }
}


/**
 * Wrapper when toggled
 *
 * 1. Hide overflowing when menu is toggled
 * 2. Set back to auto when screen is wide enough
 */

.opened--left,
.opened--right {
  overflow: hidden; /* 1 */

  @include breakpoint($desktop) {
    overflow: auto; /* 2 */
  }
}

