/* ==========================================================================
   Frontend form layout
   ========================================================================== */

// @TODO: Refactor this since we are no longer using .k-form

/**
 * Building on top of the _form.scss file
 * The main thing we're doing here is adding a dark background to make it look
 * like a modal as if you're editing on top of the website
 */

.k-form--front {
  background: $form-front-background;

  .k-content {
    background: $form-front-background;
  }

  .k-toolbar {
    max-width: $form-front-maxwidth;
    margin: $form-front-spacing;
  }

  .k-content {
    .k-component{
      background: $form-front-background;
    }
  }

  .k-container {
    background: $form-front-content-background;
    box-shadow: $form-front-content-shadow;
  }
}
