/* ==========================================================================
   Outside of the koowa namespace
   ========================================================================== */

/**
 * Markup might be rendered outside of the <div class="koowa">
 */


/* 3rd party
   ========================================================================== */

@import "../../../bower_components/select2/src/scss/core";
@import "../../../bower_components/select2-bootstrap/src/select2-bootstrap";
@import "../../../bower_components/magnific-popup/src/css/main";
@import "../molecules/modal";
@import "../molecules/select2";
/* We need the dropdowns for the datepicker */
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
@import "../molecules/datepicker";


/* Setup html, body and .koowa
   ========================================================================== */

@import "setup";



/* ==========================================================================
   Koowa namespaced styling
   ========================================================================== */

/**
 * By namespacing we make sure our styles never interfere with other styles on the page
 * For example when using Nooku inside of another framework or CMS like Joomla or Wordpress
 */

.koowa {

  /* Border-box size everything */

  &, *, *:before, *:after {
    box-sizing: border-box;
  }

  /* Namespaced Normalize */

  @import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/normalize";


  /* Namespaced Twitter Bootstrap */

  @import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/alerts";
  @import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/buttons";
  @import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/forms";
  @import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
  @import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/pagination";


  /* Bootstrap overrides / extensions */

  @import "../molecules/bootstrap/buttons";
  @import "../molecules/bootstrap/groups";
  @import "../molecules/bootstrap/input-group";


  /* Atoms */

  @import "../atoms/a";
  @import "../atoms/fieldset";
  @import "../atoms/img";
  @import "../atoms/legend";
  @import "../atoms/p";


  /* Molecules */

  @import "../molecules/form/form";
  @import "../molecules/form/option";
  @import "../molecules/form/checkbox";
  @import "../molecules/form/radio";

  @import "../molecules/booleanlist";
  @import "../molecules/breadcrumb";
  @import "../molecules/checkbox-toggle";
  @import "../molecules/component";
  @import "../molecules/content";
  @import "../molecules/filter-container";
  @import "../molecules/form-block";
  @import "../molecules/grid";
  @import "../molecules/hamburger";
  @import "../molecules/icons";
  @import "../molecules/list";
  @import "../molecules/navigation";
  @import "../molecules/optionlist";
  @import "../molecules/overflowing";
  @import "../molecules/scopebar";
  @import "../molecules/sidebar";
  @import "../molecules/table";
  @import "../molecules/titlebar";
  @import "../molecules/toolbar";
  @import "../molecules/tree";
  @import "../molecules/upload";


  /* Organisms */

  @import "../organisms/content-wrapper";
  @import "../organisms/form-front";


  /**
   * Utilities
   *
   * loading last so we have the biggest chance of 'winning' specificity wars without using !important
   */

  @import "../utilities/utilities";


  /**
  * Shame
  *
  * Add styling that has not found a place in the directory structure yet.
  * Ideally this should be moved as fast as possible but at least before shipping
  */

  @import "../utilities/shame";

}
