.k-container__no-tabs,
.tab-pane {
  @include clearfix;
  background: white;
  padding: 20px;

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    @extend .form-control;
  }
}

.tab-pane {
  border: 1px solid #ddd;
  border-top: none;
}

.k-container__no-tabs {
  border-top: 1px solid #ddd;
}

.tabs-left {
  .nav-tabs {
    float: left;
    border-bottom: 0 none;

    li {
      float: none;

      a {
        border-radius: 4px 0 0 4px;
        margin-right: -1px;
        margin-bottom: 3px;
      }

      &.active a {
        border-color: #ddd transparent #ddd #ddd;
      }
    }
  }

  .tab-pane {
    border-top: 1px solid #ddd;
  }
}